<!-- Write DELETE popup -->
<!-- <div class="mainpopup">
  <div class="deletepopup">
    <button class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </button>
    <span><img src="assets/icon/delete-popup.svg" alt=""></span>
    <h4>Do you really want to Delete this Event?</h4>
    <p>Once you delete the event, you won't able to endo or recover after that</p>
    <a href="#" class="write animated-button victoria-three greenkeep">No, Keep the event</a>
    <button class="yesit">Yes, Delete it</button>
  </div>
</div> -->

<!-- Write DELETE popup -->
<div class="mainpopup">
  <div class="deletepopup">
    <button class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </button>
    <span><img src="assets/icon/delete-popup.svg" alt=""></span>
    <h4>Write DELETE in below to delete it.</h4>
    <p>Once you delete the event, you won't able to endo or recover after that </p>
    <a href="#" class="write animated-button victoria-three">Write here</a>
  </div>
  <div>
<!--    <button class="btn btn-success m-1" (click)="success('Success!!','success')">Success</button>-->
<!--    <button class="btn btn-danger m-1" (click)="error('Error :(', 'Error')">Error</button>-->

  </div>
</div>


<!-- payment successfully -->
<!-- <div class="mainpopup paymentsucc">
  <div class="deletepopup">
    <button class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </button>
    <span><img src="assets/icon/rightblue.svg" alt=""></span>

    <h4>Your payment is successfully done.</h4>
    <div class="left-shadow"></div>
    <p> <img src="assets/icon/heart.svg" alt=""> Thank you for your support. </p>
    <a href="#" class="write animated-button victoria-three greendone">Done</a>
  </div>
</div> -->


<!-- Payment did not go through. -->
<!-- <div class="mainpopup paymentsucc">
  <div class="deletepopup">
    <button class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </button>
    <span><img src="assets/icon/payment-through.svg" alt=""></span>
    <h4>Payment did not go through.</h4>
    <div class="left-shadow"></div>
    <a href="#" class="write animated-button victoria-three greendone">Try Again</a>
  </div>
</div> -->

<!-- payment successfully -->
<!-- <div class="mainpopup paymentsucc">
  <div class="deletepopup">
    <button class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </button>
    <span><img src="assets/icon/rightblue.svg" alt=""></span>

    <h4>Your membership application submitted.</h4>
    <p>Your payment is successfully done.</p>
    <div class="left-shadow"></div>
    <p> <img src="assets/icon/heart.svg" alt=""> Thank you for your support. </p>
    <a href="#" class="write animated-button victoria-three greendone">Done</a>
  </div>
</div> -->

<!-- payment successfully -->
<!-- <div class="mainpopup paymentsucc">
  <div class="deletepopup">
    <button class="close-container">
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </button>
    <span><img src="assets/icon/rightblue.svg" alt=""></span>

    <h4>Your payment is successfully done.</h4>
    <p>Your payment is successfully done.</p>
    <div class="left-shadow"></div>
    <p> #608595478764</p>
    <div class="timepop">26 Apr, 2020 | 09:00PM - 12:00PM</div><br>
    <h4>New Year Eve’s Music Party</h4>
    <p class="location"> <img src="assets/icon/location1.svg" alt=""> San Francisco | CA </p>
    <div class="popupthumb">
      <div class="charectorthumb">
        <i>rm</i>
      </div>
      <div class="charectorthumb">
        <img src="assets/images/background.png" alt="">
      </div>
      <div class="charectorthumb">
        <img src="assets/images/profile-inner.jpg" alt="">
      </div>
    </div>
    <p> <i>3</i> Registered </p>
    <h4 class="marnone">$4255.00</h4>
    <a href="#" class="write animated-button victoria-three greendone">Done</a>
  </div>
</div> -->


<!-- Event is Successfully Created. -->
 <div class="event-successfully-pop">
  <div class="innerbox">
    <span class="event-succes"> <img src="assets/icon/checked.svg" alt=""> Event is Successfully Created. </span> <button>View Dashboard</button>
  </div>
</div>

<!-- You Cant Add More Then 10 Persons -->
<!-- <div class="event-successfully-pop">
  <div class="innerbox">
    <img src="assets/icon/info-yellow.svg" alt="">  You Cant Add More Then 10 Persons
  </div>
</div> -->


<!-- You Cant Add More Then 10 Persons -->
<!-- <div class="event-successfully-pop">
  <div class="innerbox">
    <img src="assets/icon/gray-info.svg" alt="">  Event registration capacity is full.
    <br> only 10 person can register .
  </div>
</div> -->



<!--    <app-alert  [position]="Position.BottomCenter" [maxItems]="3" [isGlobal]="true" [queueAlerts]= "true"></app-alert>-->



