<div class=" common-page eventdetailpage">
  <div class="event-inner-paid">
    <div class="blurimages backimg" ></div>

    <div class="sub-main">
      <div class="breadkrum">
        <!--        Home / Tradeshow / Car Tradeshow-->
      </div>
      <!-- main content -->
      <div class="profiletop event-detail-pad">
        <div class="row">
          <div class="image-upl-slider event-datailslider event-detail-slider slider-img">
            <carousel>
              <slide>
                <div  class="eventblur backimg"></div>
                <img src="assets/images/background.png">
              </slide>
              <slide>
                <div  class="eventblur backimg"></div>
                <img src="assets/images/banner.png">
              </slide>
            </carousel>
            <!-- <div (click)="goLive()" *ngIf=" eventDetail['liveStreaming'] == true || (eventDetail['showLiveStreamingButton'] == true && showLive  && eventDetail['showDetail']== true  && endLive == false)" class="live-stream-now">
              <span>Live Stream Now </span>
              <i class="blink">Live</i>
            </div> -->
            <!-- <div (click)="goLive()" *ngIf="eventDetail['showCountDown'] && !showLive && eventDetail['liveStreaming'] == false && eventDetail['showDetail']== true " class="live-stream-box">
              <p>Live Streaming Start Soon</p>
                <ngx-countdown (onComplete)="completed()" interval="{{liveTimer}}" class="colorcount"></ngx-countdown>
            </div> -->
          </div>
          <div class="maineventwidth">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="heading-event-detail">
                    <span>Rose Valley Hall</span>
                    <p style="font-style: normal;">banquet - 200 guest capecity </p>
                    <div class="row martop-date">
                      <div class="col-md-10 col-sm-8">
                        <div class="watchicon beforenone">
                          <i> <i aria-hidden="true" class="fa fa-map-marker"></i> 2310 Fort Street, balheven, NC, United State 24151</i>
                        </div>
                        <div class="watchicon beforenone">
                          <i> <i class="fa fa-phone" aria-hidden="true"></i> +1 251 124 525</i>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-4">
                        <ul class="price">
                          <li>
                            <span>Asset Rent</span>
                            <b> $1000 - Per Day</b>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                   <div class="datail-list-date">
                    <button  class="btn-share" data-target="#share_modal"
                            data-toggle="modal" title="Share">
                      <i aria-hidden="true" class="fa fa-share-alt"></i>
                    </button>
                    <!-- <button (click)="interestedEvent(eventDetail?.id)"  class="btn-bookmark">
                      <i *ngIf="bookmarked == false" aria-hidden="true" class="fa fa-bookmark-o"></i>
                      <i *ngIf="bookmarked== true" aria-hidden="true" class="fa fa-bookmark"></i>
                    </button> -->
                    <button  [routerLink]="'/login'" class="btn-bookmark">
                      <i aria-hidden="true" class="fa fa-bookmark-o"></i>
                    </button>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <!-- <b *ngIf="eventDetail?.admin" class="detail-p"
                     style="    padding-top: 10px;margin-bottom: 10px;"> {{'event.detail.createdBy.text' | translate}}
                    : {{eventDetail?.firstName | titlecase}} {{eventDetail?.lastName | titlecase}}</b> -->
                  <p  class="detail-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="photos"> Photos</span>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                  <div class="img-thb">
                    <img src="assets/images/background.png">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="term">Terms & conditions</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
