

<div class="mainnewsscreendetailpage event_gallery_main">
  <div class="paymentsuccessfully">
    <div class="row">
      <div class="col-md-12 evnt-date-res text-center">
        <img src="assets/icon/credit-card.png"><p>{{'event.registrationDone.message1.text' | translate}}<br>{{'event.registrationDone.message2.text' | translate}}</p>
      </div>
    </div>
    <div class="text-center">
      <button [routerLink]="'/event-details/'+eventId" class="save-changes">{{'event.registrationDone.done.Btn.text' | translate}}</button>
    </div>
  </div>

</div>

