.save-changes {

    padding: 10px 33px;
    width: auto;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    min-width: 142px;
    height: 43px;
    font-size: 14px;

}

.btn-secondary{

    margin-left: 10px;
    height: 43px;
    width: 140px;
    margin-top: -7px;
    text-transform: capitalize;
}
.selectedplan{ text-align: center; display: block; margin-top: 20px; margin-left: 15px; border-top: 1px solid #ccc; padding-top: 15px;
    span{ display: block; font-weight: bold;}
}