<section class="membership-plan-main">
  <div class="row row-eq-height m-0">
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 p-0">
          <div class="left-part-plan">
              <div class="header-tlt">
                <h1><img src="assets/icon/close-new.svg"> Registeration </h1>
                <div class="event-name-venue">
                  <h3>Children's Day</h3>
                  <p>10:00 AM - 05:00PM</p>
                  <span>20 Jan 2020</span>
                </div>
              </div>
              <div class="page-staps-details">
                <ul>
                    <li class="selected green-clr"><span class="fa fa-check-circle"></span>Options Selection</li>
                    <li class="selected green-clr"><span class="fa fa-check-circle"></span>Information</li>
                    <li class="selected"><span class="fa fa-check-circle"></span>Payment</li>
                </ul>
              </div>
              <div class="tabs-part-plan">
                  <div class="tab-data-plan">
                      
                      <h2>Select Payment Options <img src="assets/icon/secure-payment-tlt.svg"> </h2>

                      <div class="select-payment-options-part">
                          <mat-tab-group mat-align-tabs="start">
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <i class="fa fa-circle-thin uncheck"></i>
                                <i class="fa fa-check-circle check"></i>
                                Paypal
                              </ng-template> 
                                <div class="tab-data-plan">
                                    <div class="paypal-data">
                                        <img src="assets/images/paypal.svg">
                                        <p>You will be redirected to PayPal secure Checkout for Payment</p>
                                    </div>
                                </div>  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <i class="fa fa-circle-thin uncheck"></i>
                                <i class="fa fa-check-circle check"></i>
                                Credit card
                              </ng-template>  
                              <div class="tab-data-plan">
                                <div class="card-icon">
                                    <ul>
                                        <li><img src="assets/images/master-card-new.png"></li>
                                        <li><img src="assets/images/visa-new.png"></li>
                                        <li><img src="assets/images/american-express-new.png"></li>
                                        <li><img src="assets/images/discover-network-new.png"></li>
                                    </ul>
                                </div>
                                <div class="card-details">
                                    <fieldset>
                                      <legend><img src="assets/icon/secure-payment-green.svg"></legend>
                                        <form class="example-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-label>Name</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput  placeholder="Name on Card" value="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-label>Card Number</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput placeholder="Enter Card Number" value="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-label>Expiry  Date</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput placeholder="MM / YY" value="">
                                                      <img matSuffix src="assets/icon/calendar-payment.svg">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-label>CVV</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput placeholder="CVV" value="">
                                                      <img matSuffix src="assets/icon/secure-payment.svg">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
                              </div>  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <i class="fa fa-circle-thin uncheck"></i>
                                <i class="fa fa-check-circle check"></i>
                                Debit card
                              </ng-template>  
                              <div class="tab-data-plan">
                                  <div class="card-icon">
                                    <ul>
                                        <li><img src="assets/images/master-card-new.png"></li>
                                        <li><img src="assets/images/visa-new.png"></li>
                                        <li><img src="assets/images/american-express-new.png"></li>
                                        <li><img src="assets/images/discover-network-new.png"></li>
                                    </ul>
                                  </div>
                                  <div class="card-details">
                                      <fieldset>
                                        <legend><img src="assets/icon/secure-payment-green.svg"></legend>
                                          <form class="example-form">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <mat-label>Name</mat-label>
                                                      <mat-form-field class="example-full-width" floatLabel="never">
                                                        <input matInput  placeholder="Name on Card" value="">
                                                      </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <mat-label>Card Number</mat-label>
                                                      <mat-form-field class="example-full-width" floatLabel="never">
                                                        <input matInput placeholder="Enter Card Number" value="">
                                                      </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <mat-label>Expiry  Date</mat-label>
                                                      <mat-form-field class="example-full-width" floatLabel="never">
                                                        <input matInput placeholder="MM / YY" value="">
                                                        <img matSuffix src="assets/icon/calendar-payment.svg">
                                                      </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <mat-label>CVV</mat-label>
                                                      <mat-form-field class="example-full-width" floatLabel="never">
                                                        <input matInput placeholder="CVV" value="">
                                                        <img matSuffix src="assets/icon/secure-payment.svg">
                                                      </mat-form-field>
                                                  </div>
                                              </div>
                                          </form>
                                      </fieldset>
                                  </div>
                              </div>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <i class="fa fa-circle-thin uncheck"></i>
                                <i class="fa fa-check-circle check"></i>
                                e-Check
                              </ng-template> 
                              <div class="tab-data-plan">
                                  <div class="card-icon">
                                    <ul>
                                        <li><img src="assets/images/master-card-new.png"></li>
                                        <li><img src="assets/images/visa-new.png"></li>
                                        <li><img src="assets/images/american-express-new.png"></li>
                                        <li><img src="assets/images/discover-network-new.png"></li>
                                    </ul>
                                  </div>
                                  <div class="card-details">
                                    <fieldset>
                                      <legend><img src="assets/icon/secure-payment-green.svg"></legend>
                                        <form class="example-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-label>Name</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput  placeholder="Name on Card" value="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-label>Card Number</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput placeholder="Enter Card Number" value="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-label>Expiry  Date</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput placeholder="MM / YY" value="">
                                                      <img matSuffix src="assets/icon/calendar-payment.svg">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-label>CVV</mat-label>
                                                    <mat-form-field class="example-full-width" floatLabel="never">
                                                      <input matInput placeholder="CVV" value="">
                                                      <img matSuffix src="assets/icon/secure-payment.svg">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                  </div> 
                              </div>
                            </mat-tab>
                          </mat-tab-group>
                      </div>
                  </div>  
              </div>
              <div class="tems-conditions">
                  <h4>
                    <mat-checkbox >
                    Accept <a href="#">Terms & Conditions</a></mat-checkbox></h4>
              </div>
              <div class="left-footer">
                  <div class="row m-0">
                      <div class="col-xs-6 col-md-6 p-0">
                          <div class="next-back back">
                              <button routerLink="/bulk-ticket-info"> <i class="fa fa-arrow-left"></i> Back</button>
                          </div>
                      </div>
                      <div class="col-xs-6 col-md-6 p-0 text-right">
                          <div class="next-back next">
                              <button (click)="openModalWithClass(template)">Pay Now <i class="fa fa-check"></i> </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3  col-lg-3 p-0">
        <div class="right-part-plan">

          <div class="promocode-part">
              <h4> <img src="assets/icon/promocode.svg"> Have a promo code ?</h4>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Promo Code here</mat-label>
                <input matInput value="">
              </mat-form-field>
          </div>

            <h2>Summary</h2>
            <div class="table-part">
                <table>
                    <tr>
                        <td>Sponsorship 1</td>
                        <td class="blue-clr-text" nowrap>$501 </td>
                    </tr>
                    <tr>
                      <td>Taxes</td>
                      <td class="blue-clr-text" nowrap>$0</td>
                    </tr>
                    <tfoot>
                        <tr>
                          <td class="blue-clr-text">Grand Total</td>
                          <td class="blue-clr-text" nowrap>$501</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
      </div>
  </div>
</section>


<ng-template #template>
  <!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
      <div class="payment-done">
          <div class="payment-top-part">
              <img src="assets/icon/done-icon.svg">
              <h4>Your payment is successfully done.</h4>
              <p>Your payment is successfully done.</p>
          </div>
          <div class="payment-info-new">
              <h5>#608595478764</h5>
              <span>20 Jan 2020 |10:00AM - 05:00PM</span>
              <h4>Children's Day</h4>
              <p><img src="assets/images/blue-icon.svg"> San Francisco | CA</p>
              <button aria-label="Close" (click)="modalRef.hide()" class="done">Done</button>
          </div>
      </div>
  </div>
</ng-template>