<section class="membership-plan-main">
  <div class="row m-0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
          <div class="left-part-plan">
              <div class="tabs-part-plan">
                  <div class="tab-data-plan">
                      <div class="thenks-page">
                        <h2>Thank You!</h2>
                        <p>Thank you for joining the community. You should receive a conformation email shortly.</p>
                      </div>
                  </div>  
              </div>
              
              <div class="left-footer">
                  <div class="row m-0">
                      <div class="col-xs-12 col-md-12 p-0 text-center">
                          <div class="next-back next">
                              <button routerLink="/thanks-successful-payment">Done <i class="fa fa-check"></i> </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
  </div>
</section>