<div class="mainnewsscreen main-screen">
  <section class="inner-banner commontopmargin">
    <div class="blue-bg-banner"><span></span></div>
    <div class="slid-left-blue-dots">
      <img alt="" src="assets/images/inner-left-dots.png">
    </div>
    <div class="container">
      <div class="red-inner">
        <div class="row">
          <div  animationName="animated slideInLeft" class="col-md-6 col-sm-6">
            <h2 class="inner-page-tlt">Become a Sponsor</h2>
          </div>
          <div  animationName="animated slideInRight" class="col-md-6 col-sm-6 news-bread">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">Become a Sponsor </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="scholarship-head"> IANT Anand Bazaar - Sponsorship Levels </div>
    </div>
    <div class="col-sm-12">
      <a class="button-benefit" target="_blank" [routerLink]="'/donor-checkout-new/event/6104e74474c8b3766490c75a'"> Donate </a>
      <a class="button-benefit" target="_blank" href="https://docs.google.com/forms/d/1xYYaX8ILPxyJhcgoLFRSyUMEBoPzIEE416u9mTBt4FA/viewform?edit_requested=true"> Register </a>
      <a class="button-benefit" target="_blank" href="http://txn.iant.org/index.php?option=com_rsform&formId=55"> Vendor Registration </a>
      <a class="button-benefit" target="_blank" [routerLink]="'/sponsor-checkout-new/event/6104e74474c8b3766490c75a'">  Sponsor </a>

  </div></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="sponsorship-tab">
        <table cellspacing="10" cellpadding="10">
          <tr>
            <th>
              <span class="bg8">
                Anand Bazaar - Sponsorship Levels
              </span>
            </th>
            <th width="120">
              <span class="bg1">
                Event
Sponsor

              </span>
            </th>
            <th width="120">
              <span class="bg2">
                Stage
Sponsor
              </span>
            </th>
            <th width="120">
              <span class="bg3">
                Vendor
Booths
Sponsor
              </span>
            </th>
            <th width="120">
              <span class="bg4">
                Parade
Sponsor
              </span>
            </th>
            <th width="120">
              <span class="bg5">
                Entertainment
Sponsor
              </span>
            </th>
            <th width="120">
              <span class="bg6">
                Kids
                Activities
                Sponsor

              </span>
            </th>
            <th width="120">
              <span class="bg7">
                General
                Sponsor
              </span>
            </th>
          </tr>
          <tr class="sponsoramnt">
            <td>
              <span> Sponsorship Amount (USD) </span>
            </td>
            <td>
              <span> $15,000</span>
            </td>
            <td>
              <span> $10,000 </span>
            </td>
            <td>
              <span>$8,000 </span>
            </td>
            <td>
              <span> $6,000</span>
            </td>
            <td>
              <span> $4,000 </span>
            </td>
            <td>
              <span> $2,000 </span>
            </td>
            <td>
              <span> $1000 </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Number of Sponsors </span>
            </td>
            <td>
              <span class="bg01"> 1 </span>
            </td>
            <td>
              <span class="bg02"> 2 </span>
            </td>
            <td>
              <span class="bg03"> 3 </span>
            </td>
            <td>
              <span class="bg04"> 3</span>
            </td>
            <td>
              <span class="bg05"> 4 </span>
            </td>
            <td>
              <span class="bg06"> 3 </span>
            </td>
            <td>
              <span class="bg07"> 20 </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Complimentary IANT Life Membership
                (Membership rules apply)
                 </span>
            </td>
            <td>
              <span class="bg01"> 4 </span>
            </td>
            <td>
              <span class="bg02"> 3 </span>
            </td>
            <td>
              <span class="bg03"> 2 </span>
            </td>
            <td>
              <span class="bg04"> 1</span>
            </td>
            <td>
              <span class="bg05"> 1 </span>
            </td>
            <td>
              <span class="bg06"> 1 </span>
            </td>
            <td>
              <span class="bg07"> 5-year
                Membership </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Multimedia Advertising; Slide show
                and/or 5-8 second video promotion </span>
            </td>
            <td>
              <span class="bg01"> 10 </span>
            </td>
            <td>
              <span class="bg02"> 6 </span>
            </td>
            <td>
              <span class="bg03"> 4 </span>
            </td>
            <td>
              <span class="bg04"> 3</span>
            </td>
            <td>
              <span class="bg05"> 2 </span>
            </td>
            <td>
              <span class="bg06"> 1
                Combined
                Slide
                 </span>
            </td>
            <td>
              <span class="bg07">1 Combined
                slide </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Complimentary Booths (Booth rules
                apply)
                 </span>
            </td>
            <td>
              <span class="bg01"> 4 </span>
            </td>
            <td>
              <span class="bg02"> 3 </span>
            </td>
            <td>
              <span class="bg03"> 2 </span>
            </td>
            <td>
              <span class="bg04"> 1</span>
            </td>
            <td>
              <span class="bg05"> 1 </span>
            </td>
            <td>
              <span class="bg06"> 1 </span>
            </td>
            <td>
              <span class="bg07"> 1 </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Booth location preference (before
                8/14/21) Subject to Layout approval
                  </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04">Y</span>
            </td>
            <td>
              <span class="bg05"> Y </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> 15 Second Radio Bharati
                Advertisement from Aug 14 to Sep
                18
                th 2021 –  (Every Saturday)
                 </span>
            </td>
            <td>
              <span class="bg01"> 3 Spots  </span>
            </td>
            <td>
              <span class="bg02"> 2 Spots  </span>
            </td>
            <td>
              <span class="bg03"> 1 Spots  </span>
            </td>
            <td>
              <span class="bg04"> 1 Spots</span>
            </td>
            <td>
              <span class="bg05"> Announcement </span>
            </td>
            <td>
              <span class="bg06"> Announcement </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08">  Event Program Brochure (Digital
                /Scan/Website)
                 </span>
            </td>
            <td>
              <span class="bg01"> Color </span>
            </td>
            <td>
              <span class="bg02"> Color </span>
            </td>
            <td>
              <span class="bg03"> Color </span>
            </td>
            <td>
              <span class="bg04"> Color</span>
            </td>
            <td>
              <span class="bg05"> B&W ½ page </span>
            </td>
            <td>
              <span class="bg06"> B&W ½ page </span>
            </td>
            <td>
              <span class="bg07"> Mention </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Logo & Your website Link on IANT
                website
                 </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04"> Y</span>
            </td>
            <td>
              <span class="bg05"> Y </span>
            </td>
            <td>
              <span class="bg06"> Name on our
                website </span>
            </td>
            <td>
              <span class="bg07"> Name on our
                website </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Advertisement in IANT e-Newsletters
                (from Aug 14 to Sep 18
                th 2021)
                 </span>
            </td>
            <td>
              <span class="bg01"> Y – Your
                business flyer
                included
                 </span>
            </td>
            <td>
              <span class="bg02"> Y- Your
                business
                flyer
                included </span>
            </td>
            <td>
              <span class="bg03"> Y- Your
                business
                flyer
                included</span>
            </td>
            <td>
              <span class="bg04"> Y</span>
            </td>
            <td>
              <span class="bg05"> Y </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08">  Recognition with a Momento or
                plaque
                 </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04"> Y</span>
            </td>
            <td>
              <span class="bg05"> Y </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Company Banner at Event (IANT will
                print for you)

                 </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04"> Y</span>
            </td>
            <td>
              <span class="bg05">  </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Recognition in pre and post press
                releases


                 </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04"> Y</span>
            </td>
            <td>
              <span class="bg05">  </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Recognition in Pre-Event Functions (AB
                Kick off 8/28/21)



                 </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04"> Y</span>
            </td>
            <td>
              <span class="bg05">  </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Stage Time for your Representative
                 </span>
            </td>
            <td>
              <span class="bg01"> 5 mins </span>
            </td>
            <td>
              <span class="bg02"> 3 mins </span>
            </td>
            <td>
              <span class="bg03"> 2 mins </span>
            </td>
            <td>
              <span class="bg04"> 1 mins </span>
            </td>
            <td>
              <span class="bg05">  </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Recognition by VIP Guest on Stage
                 </span>
            </td>
            <td>
              <span class="bg01"> Y </span>
            </td>
            <td>
              <span class="bg02"> Y </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>
            <td>
              <span class="bg04"> Y </span>
            </td>
            <td>
              <span class="bg05">  </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
          <tr class="sponsoramnt2">
            <td>
              <span class="bg08"> Five (5) Minutes Talk Show in
                Radio Bharati 104.1 FM (Weekly Aug
                14 to Sep 18
                th 2021)
                 </span>
            </td>
            <td>
              <span class="bg01"> 5 spots </span>
            </td>
            <td>
              <span class="bg02"> 3 spots </span>
            </td>
            <td>
              <span class="bg03"> 2 spots </span>
            </td>
            <td>
              <span class="bg04"> 1 spots </span>
            </td>
            <td>
              <span class="bg05">  </span>
            </td>
            <td>
              <span class="bg06">  </span>
            </td>
            <td>
              <span class="bg07">  </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ul class="textlist">
        <li> *Applies Anand Bazaar Event Rules
        </li>
        <li>* Subject to City of Frisco Rules and Regulations</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="tabbottm">
        <table>
          <tr>
            <td> 501 (c)(3) Non-Profit, Non-Religious, Non-Political Organization </td>
            <td> Represents over 200,000 Asian Indian Americans in N. Texas </td>
            <td> Umberella Organization for more than 100 indian based organization </td>
            <td> Contributed over a million dollars to charitable causes since inception </td>
            <td> Serving Community Since 1962 </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
