<div class="reg-left">
  <div class="reg-inner event-successfully">
    <div class="check-box">
      <img src="assets/icon/checked-blue.svg" alt="">
    </div>
    <p>Your Event is
      Successfully Created</p>
      <div class="successfully-img">
        <img src="assets/icon/successfully.svg" alt="">
      </div>
      <button class="back-setting">
        Back to Settings
      </button>
  </div>
</div>
<div class="create-event-right-side create-new-evnt">
  <div class="white-area-create-event">
   <div class="sections-main memberbenefits">
     <h1>Membership Benefits <span class="planinfo"> <img src="assets/icon/infoicon.svg" alt="">Membership Plan Info</span></h1>
      <mat-radio-group aria-label="Select an option">
        <div class="row">
          <div class="col-md-12">
            <mat-radio-button value="1">New members get free tickets for next event</mat-radio-button>      
          </div>
          <div class="row marl">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-radio-button value="2">New members get discount for tickets for next event</mat-radio-button>
        <div class="row marl2">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Discount Type</mat-label>
              <mat-select >
                <mat-option>Percentage</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 marginnumber">
            <mat-form-field class="example-full-width">
              <mat-label>Discount Value</mat-label>
              <input matInput placeholder="Enter Discount Value" value="Sushi">
            </mat-form-field>
          </div>
          <div class="col-md-4 marginnumber">
            <mat-form-field class="example-full-width">
              <mat-label>Max. Amount for Discount</mat-label>
              <input matInput placeholder="Enter Amount for Discount" value="Sushi">
            </mat-form-field>
          </div>
        </div>
        <mat-radio-button value="3">New members get one time use discount code to be used on any event to get
          free tickets or discount.</mat-radio-button>
          <mat-radio-group aria-label="Select an option">
        <div class="row marl2">
          <div class="col-md-4">
            <mat-radio-button value="10">Free Tickets</mat-radio-button>
          </div>
          <div class="col-md-8 ">
           <div class="row">
             <div class="col-md-6 marginnumber">
              <mat-form-field class="example-full-width">
                <mat-label>Number of Free Tickets</mat-label>
                <input matInput placeholder="Discount Value" value="Sushi">
              </mat-form-field>
             </div>
             <div class="col-md-6 marginnumber">
              <mat-form-field class="example-full-width">
                <mat-label>Discount Code</mat-label>
                <input matInput placeholder="Discount Value" value="Sushi">
              </mat-form-field>
             </div>
           </div>
          </div>
        </div>
        <div class="row marl2">
          <div class="col-md-4">
            <mat-radio-button value="11" class="mardiscount">Discount</mat-radio-button>
          </div>
          <div class="col-md-8">
           <div class="row martop-date">
             <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Discount Type</mat-label>
                <mat-select >
                  <mat-option>Percentage</mat-option>
                </mat-select>
              </mat-form-field>
             </div>
             <div class="col-md-6 marginnumber">
              <mat-form-field class="example-full-width">
                <mat-label>Discount Value</mat-label>
                <input matInput placeholder="Discount Value" value="Sushi">
              </mat-form-field>
             </div>
           </div>
           <div class="row martop-date">
            <div class="col-md-6">
             <mat-form-field class="example-full-width">
               <mat-label>Max. Amount for Discount</mat-label>
               <mat-select >
                 <mat-option>Enter Amount for Discount</mat-option>
               </mat-select>
             </mat-form-field>
            </div>
            <div class="col-md-6">
             <mat-form-field class="example-full-width marginnumber">
               <mat-label>Discount Code</mat-label>
               <input matInput placeholder="Enter Discount Code" value="Sushi">
             </mat-form-field>
            </div>
          </div>
          </div>
        </div>
      </mat-radio-group>
      </mat-radio-group>
      <div class="row martopsub">
        <div class="col-md-12">
          <button class="save-changes">Save</button>
          <button class="sendemail"> 
            <!-- <img src="assets/icon/email-member.svg" alt="">  -->
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Send an Email to Member</button>
        </div>
      </div>
    </div>
  </div>
</div>
