<section class="verify">
  <div class="verify__header">
    <img
      class="verify__logo"
      src="../../../../../assets/images/event-volunteer/logo.png"
      alt=""
    />
    <img
      class="verify__exit"
      src="../../../../../assets/images/event-volunteer/exit.svg"
      alt=""
    />
  </div>
  <h2 class="verify__heading">Guest Verification</h2>
  <main>
    <h5 class="verify__booked">Booked By:</h5>
    <div class="verify__book-details">
      <h5>Kevin Lewis</h5>
      <h6>Total Tickets: 5</h6>
    </div>
  </main>
  <div class="verify__legend">
    <p># Name || Ticket type || Price</p>
    <p>Present</p>
  </div>
  <div class="guest">
    <div class="guest__details">
      <div class="guest__detail">
        <h6>1. Nutan Ranolia || Adult || $ 30.00</h6>
        <p>Promocode: None</p>
      </div>
      <input type="checkbox" />
    </div>

    <span class="guest__result">Covid Test Result:</span>
    <mat-radio-group color="#fff">
      <mat-radio-button value="1">Passed</mat-radio-button>
      <mat-radio-button value="2">Failed</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="footer">
    <button class="footer__cancel">
      Cancel
    </button>
    <button class="footer__submit">Submit</button>
  </div>
</section>
