$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$secondary-color2:var(--secondary-color2);
$black-light-color: var(--black-light-color);
$black-dark-color:  var(--black-dark-color);
$greay: var(--greay);
$greay-text: var(--greay-text);
$red-light-bg: var(--red-light-bg);
$red-light-main: var(--gred-light-main);
$greay-card-head:var(--greay-card-head);
$blue-dark: var(--secondary-color);
$gray-dark: var(--gray-dark);
$gray-light:var(--gray-light);
$green-dark:var(--green-dark);
$red-light-bg:var(--gred-light-bg);
$red-light-main: var(--red-light-main);
$blue-light: var(--blue-light);
$blue-dark2: var(--blue-dark2);
$gray-dark2: var(--gray-dark2);
$gray75: var(--gray75);
$gray-e7:var(--gray-e7);
$green-dark:var(--green-dark);
$green-light:var(--green-light);
$red-dark:var(--red-dark);
$red-light: var(--red-light);
$tomatored: var(--tomatored);

.formatmembershipnumber .indivisual .example-full-width {
  width: 192px;
  margin-left: 20px;
}
.removeBtn button {
  background: transparent;
  margin: 10px 10px 0 0px;
  float: right;
  border: 0px;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  .icon-delete-blue:before{
    color: $secondary-color;
  }
}
.removeBtn button img {
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.save-changes {
  min-width: 160px;
  font-size: 15px;
}
.lmpreview {
  overflow-wrap: break-word;
}
.add-length{ width: calc(100% - 40px);}