<div class="formatmembershipnumber">
  <div class="borbtomformat">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="formatheading">
          Membership number format 
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="indivisual">
          <mat-form-field class="example-full-width">
            <mat-label>Select Membership </mat-label>
            <mat-select #t1 (selectionChange)="setTypeId(t1.value)" [(ngModel)]="typeId"
                        [ngModelOptions]="{standalone: true}">
              <mat-option value="">Select Membership</mat-option>
              <mat-option *ngFor="let member of membershipList;let i = index"
                          value="{{member.id}}">{{member.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="typeId!=''">
            <mat-label>Select Plan</mat-label>
            <mat-select #t2 (selectionChange)="setPlanId(t2.value)" [(ngModel)]="planId"
                        [ngModelOptions]="{standalone: true}">
              <mat-option value="">Select Plan</mat-option>
              <mat-option *ngFor="let duration of membershipDetail.plans;let i = index"
                          value="{{duration.id}}">{{duration.durationName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-eq-height noequalmember">
    <div class="col-md-7 col-sm-6">
      <div class="paddleft60">
        <div *ngFor="let option of fieldList;let i = index" class="row">
          <div class="col-md-12">
            <div class="prefixheading">
              Field Type
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Select Field</mat-label>
              <mat-select (selectionChange)="getPreviewAll()" [(ngModel)]="option.generationType"
                          [ngModelOptions]="{standalone: true}">
                <mat-label>Select Field</mat-label>
                <mat-option *ngFor="let type of generationTypeList;let i = index"
                            value="{{type.value}}">{{type.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <mat-form-field *ngIf="option.generationType == 'NUMBER'" class="example-full-width">
              <mat-label>Field Type</mat-label>
              <mat-select (selectionChange)="getPreviewAll()" [(ngModel)]="option.value"
                          [ngModelOptions]="{standalone: true}">
                <mat-label>Select Type</mat-label>
                <mat-option *ngFor="let type of generationMethodList;let i = index"
                            value="{{type.value}}">{{type.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="option.generationType == 'SEPARATOR'" class="example-full-width">
              <mat-label>Select Separator</mat-label>
              <mat-select (selectionChange)="getPreviewAll()" [(ngModel)]="option.value"
                          [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let type of separators;let i = index" value="{{type}}">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="option.generationType == 'PREFIX'" class="example-full-width">
              <mat-label>Add String</mat-label>
              <input (change)="getPreviewAll()" [(ngModel)]="option.value" [ngModelOptions]="{standalone: true}"
                     matInput type="text">
            </mat-form-field>
          </div>
          <div class="removeBtn col-lg-4 col-md-12 col-sm-12">
            <mat-form-field *ngIf="option.generationType == 'NUMBER' && (option.value == 'RANDOM' || option.value == 'SEQUENTIAL') " class="example-full-width add-length">
              <mat-label>Add Length</mat-label>
              <input (change)="getPreviewAll()" (keypress)="numberOnly($event)" [(ngModel)]="option.length"
                     [ngModelOptions]="{standalone: true}" matInput type="text">
            </mat-form-field>
            <button (click)="removeField(i);getPreviewAll()" *ngIf="i !=0">
              <i class="icon-delete-blue newicon"></i>
            </button>
          </div>
          <!-- <div class="removeBtn col-md-1 col-sm-1">

          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12 martop-date marginbottnaddbutton">
            <button (click)="addDynamicField()" class="save-changes add-ew-field" title="Add New Field">Add New Field
            </button>
            <!--          <mat-form-field class="example-full-width">-->
            <!--            <mat-label>Add New Field </mat-label>-->
            <!--            <mat-select>-->
            <!--              <mat-option value="">Add New Field </mat-option>-->
            <!--            </mat-select>-->
            <!--          </mat-form-field>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="borderright">
        <div class="previewstring">
          Preview
        </div>
        <div class="lmpreview">
          {{samplePreview}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="create-bortop bortopmembership">
        <input (click)="submit();" class="save-changes fright" type="button" value="Submit">
      </div>
    </div>
  </div>
</div>
