
<div class="padd-area foodpage">


  <div class="main-search-top">
    <div class="grid-button">
      <button (click)="changeList('card')"  [ngClass]="listType == 'card' ? 'active' : ''">
        <i class="icon-squares-b newicon"></i>
      </button>
      <button (click)="changeList('table')"  [ngClass]="listType == 'table' ? 'active' : ''">
        <i class="icon-menu-w newicon"></i>
      </button>
    </div>
    <div class="grid-by-user">
      <button  (click)="changeFood('vehicle')" [ngClass]="parkingType == 'vehicle' ? 'active' : ''">
        <!-- <svg id="Group_53693" data-name="Group 53693" xmlns="http://www.w3.org/2000/svg" width="21.721" height="21.721" viewBox="0 0 21.721 21.721">
          <g id="Group_53694" data-name="Group 53694">
            <g id="Group_53693-2" data-name="Group 53693">
              <path id="Path_44162" data-name="Path 44162" d="M38.986,29.813A9.153,9.153,0,0,0,35.043,47.23l.287-5.54s-.539-.177-.657-.235c-1.144-.5-1.975-1.987-1.975-3.913,0-2.1,1.629-3.911,3.2-3.926h.006c1.576.015,3.205,1.825,3.205,3.926,0,1.925-.832,3.408-1.973,3.913l-.663.241.32,6.159a8.979,8.979,0,0,0,5.1-.206l.284-5.489A2.943,2.943,0,0,1,40.4,40.923c-.5-.742.381-7.307.381-7.307h.57v6.16h.566v-6.16h.619v6.161H43.1V33.618h.642v6.161h.565V33.618h.437s.876,6.565.381,7.307a2.951,2.951,0,0,1-1.766,1.234l-.025.009.247,4.722a9.154,9.154,0,0,0-4.593-17.076Z" transform="translate(-28.124 -28.112)" fill="#e27707"/>
              <path id="Path_44163" data-name="Path 44163" d="M91.517,142.194a2.634,2.634,0,0,1,.079-.263.12.12,0,0,0-.067-.134.109.109,0,0,0-.144.031s-.063.1-.153.247a2.654,2.654,0,0,0-.258.582,4.816,4.816,0,0,0-.177.845,4.03,4.03,0,0,0-.013.49,2.319,2.319,0,0,0,.094.519,3.362,3.362,0,0,0,.819,1.5,2.818,2.818,0,0,0,.438.355l.041.029.073.046a.84.84,0,0,0,.176.073.106.106,0,0,0,.12-.05.107.107,0,0,0-.035-.127,1.146,1.146,0,0,1-.13-.143,2.588,2.588,0,0,1-.168-.23c-.045-.065-.1-.139-.147-.21a7.412,7.412,0,0,1-.578-1.423,1.893,1.893,0,0,1-.081-.392,4,4,0,0,1-.023-.419,5.53,5.53,0,0,1,.034-.777A3.034,3.034,0,0,1,91.517,142.194Z" transform="translate(-85.602 -133.694)" fill="#e27707"/>
              <path id="Path_44164" data-name="Path 44164" d="M10.861,0a10.861,10.861,0,1,0,10.86,10.86A10.874,10.874,0,0,0,10.861,0Zm0,20.911A10.051,10.051,0,1,1,20.912,10.86,10.063,10.063,0,0,1,10.861,20.911Z" fill="#e27707"/>
            </g>
          </g>
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="22.721" height="22.721" viewBox="0 0 18.793 13.623">
          <g id="Group_53744" data-name="Group 53744" transform="translate(0 -37.486)">
            <path id="Path_44181" data-name="Path 44181" d="M13.327,84.751a.7.7,0,0,0-.185.026l-.7.193L11.713,83.2a1.59,1.59,0,0,0-1.36-.912H3.537a1.589,1.589,0,0,0-1.36.912L1.45,84.968l-.693-.191a.7.7,0,0,0-.185-.026.568.568,0,0,0-.572.6v.413a.74.74,0,0,0,.739.739H.818L.7,86.792a5.541,5.541,0,0,0-.348,1.763v3.525a.74.74,0,0,0,.739.739h.965a.74.74,0,0,0,.739-.739V91.2h8.3v.88a.74.74,0,0,0,.739.739H12.8a.74.74,0,0,0,.739-.739V88.554a5.541,5.541,0,0,0-.348-1.762l-.118-.286h.089a.74.74,0,0,0,.739-.739v-.413A.568.568,0,0,0,13.327,84.751ZM1.979,86.1l1.1-2.684a.955.955,0,0,1,.815-.547h6.1a.955.955,0,0,1,.815.547l1.1,2.684a.369.369,0,0,1-.367.547h-9.2A.369.369,0,0,1,1.979,86.1ZM4.439,89.5a.3.3,0,0,1-.3.3H2.05a.3.3,0,0,1-.3-.3v-1a.3.3,0,0,1,.3-.3H4.143a.3.3,0,0,1,.3.3Zm7.677,0a.3.3,0,0,1-.3.3H9.727a.3.3,0,0,1-.3-.3v-1a.3.3,0,0,1,.3-.3H11.82a.3.3,0,0,1,.3.3Z" transform="translate(0 -41.709)" fill="#e27707" />
            <g id="Group_53743" data-name="Group 53743" transform="translate(13.447 37.486)">
              <path id="Path_44182" data-name="Path 44182" d="M199.415,37.486h-3.5a.925.925,0,0,0-.924.924v3.5a.925.925,0,0,0,.924.924h1.4v7.853a.345.345,0,1,0,.69,0V42.833h1.4a.925.925,0,0,0,.924-.924v-3.5A.925.925,0,0,0,199.415,37.486Zm-.792,2.9a1.281,1.281,0,0,1-.881.273h-.507a.111.111,0,0,0-.11.11v.854a.168.168,0,0,1-.168.168h-.384a.168.168,0,0,1-.168-.168v-2.93a.169.169,0,0,1,.168-.168h.967a1.479,1.479,0,0,1,1.076.263,1,1,0,0,1,.312.8A1.023,1.023,0,0,1,198.622,40.387Z" transform="translate(-194.992 -37.486)" fill="#e27707" />
              <path id="Path_44183" data-name="Path 44183" d="M226.862,61.387a.848.848,0,0,0-.492-.106h-.347a.11.11,0,0,0-.11.11v.7a.11.11,0,0,0,.11.11h.208c.076,0,.2-.006.275-.013a.943.943,0,0,0,.355-.094.528.528,0,0,0,0-.71Z" transform="translate(-223.781 -59.64)" fill="#e27707" />
            </g>
          </g>
        </svg>
        
        By Vehicle
      </button>
      <button (click)="changeFood('user')"  [ngClass]="parkingType == 'user' ? 'active' : ''">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.418" height="16.472" viewBox="0 0 19.418 16.472">
          <g id="Group_53695" data-name="Group 53695" transform="translate(0 -38.84)">
            <g id="Group_53696" data-name="Group 53696" transform="translate(15.113 47.733)">
              <g id="Group_53695-2" data-name="Group 53695" transform="translate(0 0)">
                <path id="Path_44165" data-name="Path 44165" d="M400,273.32h-1.5a3.908,3.908,0,0,1,.237,1.343v5.675a1.674,1.674,0,0,1-.1.561h2.483a1.684,1.684,0,0,0,1.682-1.682v-3.094A2.806,2.806,0,0,0,400,273.32Z" transform="translate(-398.494 -273.32)" fill="#e27707"/>
              </g>
            </g>
            <g id="Group_53698" data-name="Group 53698" transform="translate(0 47.733)">
              <g id="Group_53697" data-name="Group 53697" transform="translate(0 0)">
                <path id="Path_44166" data-name="Path 44166" d="M4.068,274.664a3.906,3.906,0,0,1,.237-1.343H2.8a2.806,2.806,0,0,0-2.8,2.8v3.094A1.684,1.684,0,0,0,1.682,280.9H4.164a1.674,1.674,0,0,1-.1-.561Z" transform="translate(0 -273.321)" fill="#e27707"/>
              </g>
            </g>
            <g id="Group_53700" data-name="Group 53700" transform="translate(5.189 46.272)">
              <g id="Group_53699" data-name="Group 53699" transform="translate(0 0)">
                <path id="Path_44167" data-name="Path 44167" d="M143.065,234.815h-3.433a2.806,2.806,0,0,0-2.8,2.8v5.675a.561.561,0,0,0,.561.561h7.918a.561.561,0,0,0,.561-.561v-5.675A2.806,2.806,0,0,0,143.065,234.815Z" transform="translate(-136.829 -234.815)" fill="#e27707"/>
              </g>
            </g>
            <g id="Group_53702" data-name="Group 53702" transform="translate(6.338 38.84)">
              <g id="Group_53701" data-name="Group 53701" transform="translate(0 0)">
                <path id="Path_44168" data-name="Path 44168" d="M170.485,38.84a3.37,3.37,0,1,0,3.371,3.371A3.375,3.375,0,0,0,170.485,38.84Z" transform="translate(-167.114 -38.84)" fill="#e27707"/>
              </g>
            </g>
            <g id="Group_53704" data-name="Group 53704" transform="translate(1.268 41.982)">
              <g id="Group_53703" data-name="Group 53703" transform="translate(0 0)">
                <path id="Path_44169" data-name="Path 44169" d="M35.964,121.689a2.52,2.52,0,1,0,2.521,2.521A2.524,2.524,0,0,0,35.964,121.689Z" transform="translate(-33.443 -121.689)" fill="#e27707"/>
              </g>
            </g>
            <g id="Group_53706" data-name="Group 53706" transform="translate(13.107 41.982)">
              <g id="Group_53705" data-name="Group 53705" transform="translate(0 0)">
                <path id="Path_44170" data-name="Path 44170" d="M348.128,121.689a2.521,2.521,0,1,0,2.521,2.521A2.524,2.524,0,0,0,348.128,121.689Z" transform="translate(-345.607 -121.689)" fill="#e27707"/>
              </g>
            </g>
          </g>
        </svg>
        
        By Users
      </button>
    </div>
    <div class="searchright" *ngIf="(listType == 'table' && parkingType=='user')||listType == 'card' && parkingType=='user'">
      <div class="searchmember">
        <mat-form-field class="example-full-width map-url searchform">
          <mat-label> Search here...</mat-label>
          <input  [(ngModel)]="search" autocomplete="off" matInput type="text">
        </mat-form-field>
        <button (click)="getParkingUserList()" type="button" class="search-button"> Search </button>
      </div>
      <div class="top-export-button-main exportfood">
        <button>
          <img alt="" src="assets/icon/upload.svg"> Export
        </button>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div >
  <div  class="row" *ngIf="listType == 'card' && this.parkingType=='vehicle'"   >
    <div  class="col-lg-4 col-md-4 col-sm-4" *ngFor="let pList of parkingList;let index = i">
      <div class="grid-card-box">
        <div class="topbutton-thumb">
          <div class="charector-mem foodimage two-wheeler">
            <img alt="" src="assets/icon/two-wheeler.png">
          </div>
        </div>
        <h4>{{pList.title}}</h4>
        <p class="member-number pricefood"> Price:
          <span >{{pList.price}}</span>
        </p>
        <p class="member-number pricefood"> Qty:
          <span >{{pList.totalCount}}</span>
        </p>
        <ul class="total">
          <li> Total  </li>
          <li>{{pList.totalPrice}}</li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="grid-card-box">
        <div class="topbutton-thumb">
          <div class="charector-mem foodimage for-wheeler">
            <img alt="" src="assets/icon/for-wheeler.png">
          </div>
        </div>
        <h4>For Wheeler</h4>
        <p class="member-number pricefood"> Price:
          <span >$20</span>
        </p>
        <p class="member-number pricefood"> Qty:
          <span >10</span>
        </p>
        <ul class="total">
          <li> Total  </li>
          <li> $200.00 </li>
        </ul>
      </div>
    </div> -->
  </div>
  <div  class="foodcard" *ngIf="listType == 'card' && parkingType=='user'">
    <div id="accordion" *ngFor="let user of parkingUserList?.content ;let i=index">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseOne'+i" aria-expanded="false" aria-controls="collapseOne">
              <ul class="accordiantxt">
                <li>
                  <span *ngIf="user?.mainUserInfo?.profilePictureUrl==null ||user?.mainUserInfo?.profilePictureUrl==''"> 
                    {{user?.mainUserInfo?.firstName[0]}}{{user?.mainUserInfo?.lastName[0]}}  </span>   
                    <span *ngIf="user?.mainUserInfo?.profilePictureUrl!=null && user?.mainUserInfo?.profilePictureUrl!=''">  <img src="{{user?.mainUserInfo?.profilePictureUrl}}"> </span>{{user?.mainUserInfo?.firstName}} {{user?.mainUserInfo?.lastName}}
                </li>
                <li>
                  ${{user?.parkingTotalPrice}}
                </li>
              </ul>
            </button>
          </h5>
        </div>
    
        <div id="collapseOne{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body" *ngFor="let list1 of user?.parkingOptions">
            <ul class="foodcategories">
              <li> 
                <p>{{list1.title}}</p>
                <span>
                  Price: <strong class="borrightfood"> ${{list1.price}}</strong> Qty: <strong> {{list1.count}}</strong>
                </span>
              </li>
              <li> ${{list1.parkingTotal}}</li>
            </ul>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
  <div class="new-member-tab" *ngIf="listType == 'table' && this.parkingType=='vehicle'"   >
    <div>
      <table>
        <tr>
          <th>Vehicle Type</th>
          <th>Quantity </th>
          <th>Price</th>
          <th width="80">Total</th>
        </tr>
        <tr  *ngFor="let pList of parkingList;let index = i">
          <td>{{pList.title}}</td>
          <td>{{pList.totalCount}}</td>
          <td>{{pList.price}}</td>
          <td>{{pList.totalPrice}}</td>
        </tr>
        <!-- <tr>
          <td>For Wheeler</td>
          <td>10</td>
          <td>$20</td>
          <td>$200.00</td>
        </tr> -->
      </table>
    </div>
  </div>
  <div  class="new-member-tab" *ngIf="listType == 'table' && parkingType=='user'">
    <table>
      <tr>
        <th>User Name</th>
        <th>Vehicle Type</th>
        <th width="100">Quantity </th>
        <th width="100">Price</th>
        <th width="80">Total</th>
      </tr>
      <tr *ngFor="let data of parkingUserList?.content  ;let i=index">
        <td> 
          <ul class="profiletxtfood" >           
            <li>
              <span *ngIf="data?.mainUserInfo?.profilePictureUrl==null ||data?.mainUserInfo?.profilePictureUrl==''"> 
                {{data?.mainUserInfo?.firstName[0]}}{{data?.mainUserInfo?.lastName[0]}}  </span>   
                <span *ngIf="data?.mainUserInfo?.profilePictureUrl!=null && data?.mainUserInfo?.profilePictureUrl!=''">  <img src="{{data?.mainUserInfo?.profilePictureUrl}}"> </span>
            </li>
            <li>
              {{data?.mainUserInfo?.firstName}} {{data?.mainUserInfo?.lastName}}
              <i>${{data.parkingTotalPrice}}</i>
            </li>
          </ul>
          </td>
          <td colspan="4">
            <table class="noborderfood">
              <tr *ngFor="let op of data?.parkingOptions">
                <td>{{op.title}}</td>
                <td  width="100">{{op.count}}</td>
                <td  width="100">${{op.price}}</td>
                <td  width="80">${{op.parkingTotal}}</td>
               </tr>
            </table>
          </td>
          <!-- <ul *ngFor="let list1 of data?.parkingOptions">
           <td *ngFor="let l of list1"> {{l.title|json}}</td> -->


           <!-- <ul *ngFor="let op of data?.parkingOptions">
             {{op.title}}
            <td>{{op.title}}</td>
            <td>b</td>
            <td>$100</td>
            <td>$500</td>
           </ul> -->
      </tr>
    </table>
</div>
<div class="pegination-main" *ngIf="listType=='table'&& parkingType=='user' " >
  <ul class="pegination-userlog">
    <li>
      <button (click)="pagination('current','user',0)" [disabled]="parkingUserList['first'] == true"
              class="next">
        First
      </button>
    </li>
    <li>
      <button (click)="pagination('prev','user')" [disabled]="parkingUserList['first'] == true"
              class="arrow">
        <i aria-hidden="true" class="icon-left-arrow icon"></i>
      </button>
    </li>
    <li (click)="pagination('current','user',i)" *ngFor="let i of totalPages"
        [ngClass]="reqData1.page.pageNumber == i ?  'blue-peg' : ''">
      <button class="numeric">{{i + 1}}</button>
    </li>
    <li>
      <button (click)="pagination('next','user')" [disabled]="parkingUserList['last'] == true"
              class="arrow">
        <i aria-hidden="true" class="icon-right-arrow icon"></i>
      </button>
    </li>
    <li>
      <button (click)="pagination('current','user',(parkingUserList['totalPages']-1))"
              [disabled]="parkingUserList['last'] == true" class="next">Last
      </button>
    </li>

  </ul>
  <div class="totalShow userlogtotal"><span>Total :</span> {{parkingUserList['totalElements']}}</div>
</div>

</div>


