<div class="create-event-right-side common-page">
  <div class="survey-form-main white-area-create-event committi-main no-paid">
    <div class="min-height">

      <div class="row">
        <div class="col-md-8">
            <div class="form-side-data">
                <div class="form-name">
                  <mat-card>
                      <div class="card-data">
                          <div class="input-div">
                            <mat-form-field class="example-full-width">
                              <mat-label>Enter Form Name</mat-label>
                              <input matInput value="">
                            </mat-form-field>
                          </div>
                          <div class="icon-part">
                              <ul>
                                  <li><img src="assets/icon/check-mark-green.svg"></li>
                                  <li><img src="assets/icon/cancel-red.svg"></li>
                              </ul>
                          </div>
                      </div>
                  </mat-card>
                </div>

                <div class="form-name-view">
                    <mat-card>
                        <h2>Event Feedback
                          <span class="fa fa-edit"></span>
                        </h2>
                    </mat-card>
                </div>

                <!-- Feedback 1 -->
                <div class="feedback-main">
                    <mat-card>
                        <div class="heading">
                            <div class="text-part">
                                <h4>Feedback 1</h4>
                            </div>
                            <div class="edit-delete">
                                <ul>
                                    <li><a href="#"><img src="assets/icon/form/edit.svg"> Edit</a></li>
                                    <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dropdown -->
                        <div class="feedback-field">
                            <div class="field-head">
                                <div class="text-part">
                                    <h5><img src="assets/icon/form/dropdown.svg"> Dropdown</h5>
                                </div>
                                <div class="requird">
                                    <mat-checkbox class="example-margin">Required</mat-checkbox>
                                </div>
                            </div>
                            <div class="field-data">
                                <div class="input-div">
                                  <mat-form-field class="example-full-width">
                                    <mat-label>Overall, how would you rate the entertainment event?</mat-label>
                                    <input matInput value="">
                                  </mat-form-field>
                                </div>
                                <div class="answer-data">
                                    <h6>Answer</h6>
                                    <div class="answer-input">
                                        <div class="input-div">
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Excellent</mat-label>
                                            <input matInput value="">
                                          </mat-form-field>
                                        </div>
                                        <div class="icon-answer">
                                            <img src="assets/icon/form/minus-icon.svg">
                                        </div>
                                    </div>
                                    <div class="answer-input">
                                      <div class="input-div">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Enter an Answer Choice</mat-label>
                                          <input matInput value="">
                                        </mat-form-field>
                                      </div>
                                      <div class="icon-answer">
                                          <img src="assets/icon/form/minus-icon.svg">
                                      </div>
                                    </div>
                                </div>
                                <div class="add-new">
                                    <h5>+Add new</h5>
                                </div>
                                <div class="delete-copy-option">
                                    <ul>
                                        <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                        <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="move-icon">
                                <img src="assets/icon/form/move.svg">
                            </div>
                        </div>

                        <!-- Checkbox -->
                        <div class="feedback-field">
                          <div class="field-head">
                              <div class="text-part">
                                  <h5><img src="assets/icon/form/checkbox.svg"> Checkbox</h5>
                              </div>
                              <div class="requird">
                                  <mat-checkbox class="example-margin">Required</mat-checkbox>
                              </div>
                          </div>
                          <div class="field-data">
                              <div class="input-div">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Overall, how would you rate the entertainment event?</mat-label>
                                  <input matInput value="">
                                </mat-form-field>
                              </div>
                              <div class="answer-data">
                                  <h6>Answer</h6>
                                  <div class="answer-input">
                                      <div class="input-div">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Excellent</mat-label>
                                          <input matInput value="">
                                        </mat-form-field>
                                      </div>
                                      <div class="icon-answer">
                                          <img src="assets/icon/form/minus-icon.svg">
                                      </div>
                                  </div>
                                  <div class="answer-input">
                                    <div class="input-div">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Enter an Answer Choice</mat-label>
                                        <input matInput value="">
                                      </mat-form-field>
                                    </div>
                                    <div class="icon-answer">
                                        <img src="assets/icon/form/minus-icon.svg">
                                    </div>
                                  </div>
                              </div>
                              <div class="add-new">
                                  <h5>+Add new</h5>
                              </div>
                              <div class="delete-copy-option">
                                  <ul>
                                      <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                      <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="move-icon">
                              <img src="assets/icon/form/move.svg">
                          </div>
                        </div>

                        <!-- Multiple Choice -->
                        <div class="feedback-field">
                          <div class="field-head">
                              <div class="text-part">
                                  <h5><img src="assets/icon/form/multiple-choice.svg"> Multiple Choice</h5>
                              </div>
                              <div class="requird">
                                  <mat-checkbox class="example-margin">Required</mat-checkbox>
                              </div>
                          </div>
                          <div class="field-data">
                              <div class="input-div">
                                <mat-form-field class="example-full-width">
                                  <mat-label>How unique was the event?</mat-label>
                                  <input matInput value="">
                                </mat-form-field>
                              </div>
                              <div class="answer-data">
                                  <h6>Answer</h6>
                                  <div class="answer-input">
                                      <div class="input-div">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Extremely unique</mat-label>
                                          <input matInput value="">
                                        </mat-form-field>
                                      </div>
                                      <div class="icon-answer">
                                          <img src="assets/icon/form/minus-icon.svg">
                                      </div>
                                  </div>
                                  <div class="answer-input">
                                    <div class="input-div">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Enter an Answer Choice</mat-label>
                                        <input matInput value="">
                                      </mat-form-field>
                                    </div>
                                    <div class="icon-answer">
                                        <img src="assets/icon/form/minus-icon.svg">
                                    </div>
                                  </div>
                              </div>
                              <div class="add-new">
                                  <h5>+Add new</h5>
                              </div>
                              <div class="delete-copy-option">
                                  <ul>
                                      <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                      <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="move-icon">
                              <img src="assets/icon/form/move.svg">
                          </div>
                        </div>

                        <!-- Ranking -->
                        <div class="feedback-field">
                          <div class="field-head">
                              <div class="text-part">
                                  <h5><img src="assets/icon/form/ranking.svg"> Ranking</h5>
                              </div>
                              <div class="requird">
                                  <mat-checkbox class="example-margin">Required</mat-checkbox>
                              </div>
                          </div>
                          <div class="field-data">
                              <div class="input-div">
                                <mat-form-field class="example-full-width">
                                  <mat-label>How likely is it that you would recommend this Event?</mat-label>
                                  <input matInput value="">
                                </mat-form-field>
                              </div>
                              <div class="answer-data">
                                  <h6>Answer</h6>
                                  <div class="answer-input">
                                      <div class="number-input">
                                        <mat-form-field class="example-full-width" floatLabel="never">
                                          <input matInput value="0" placeholder="0">
                                        </mat-form-field>
                                      </div>
                                      <div class="input-div">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Not At Likely </mat-label>
                                          <input matInput value="">
                                        </mat-form-field>
                                      </div>
                                      <div class="icon-answer">
                                          <img src="assets/icon/form/minus-icon.svg">
                                      </div>
                                  </div>
                                  <div class="answer-input">
                                    <div class="number-input">
                                      <mat-form-field class="example-full-width" floatLabel="never">
                                        <input matInput value="10" placeholder="10">
                                      </mat-form-field>
                                    </div>
                                    <div class="input-div">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Enter an Answer Choice</mat-label>
                                        <input matInput value="">
                                      </mat-form-field>
                                    </div>
                                    <div class="icon-answer">
                                        <img src="assets/icon/form/minus-icon.svg">
                                    </div>
                                  </div>
                              </div>
                              <div class="add-new">
                                  <h5>+Add new</h5>
                              </div>
                              <div class="delete-copy-option">
                                  <ul>
                                      <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                      <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="move-icon">
                              <img src="assets/icon/form/move.svg">
                          </div>
                        </div>

                        <!-- Ratting -->
                        <div class="feedback-field">
                          <div class="field-head">
                              <div class="text-part">
                                  <h5><img src="assets/icon/form/ratting.svg"> Ratting</h5>
                              </div>
                              <div class="requird">
                                  <mat-checkbox class="example-margin">Required</mat-checkbox>
                              </div>
                          </div>
                          <div class="field-data">
                              <div class="input-div">
                                <mat-form-field class="example-full-width" >
                                  <mat-label>Rate For Event</mat-label>
                                  <input matInput value="">
                                </mat-form-field>
                              </div>
                              <div class="ratting-data">
                                  <div class="select-data">
                                    <mat-form-field appearance="legacy" floatLabel="never">
                                      <mat-label>Select</mat-label>
                                      <mat-select>
                                        <mat-option value="option">Scale</mat-option>
                                        <mat-option value="option">Option 2</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="color-picker">
                                      <mat-form-field class="example-full-width" >
                                        <mat-label>Color </mat-label>
                                        <input matInput value="">
                                        <img matSuffix src="assets/icon/form/color-icon.svg">
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="delete-copy-option">
                                  <ul>
                                      <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                      <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="move-icon">
                              <img src="assets/icon/form/move.svg">
                          </div>
                        </div>

                        <!-- Slider -->
                        <div class="feedback-field">
                          <div class="field-head">
                              <div class="text-part">
                                  <h5><img src="assets/icon/form/slider.svg"> Slider</h5>
                              </div>
                              <div class="requird">
                                  <mat-checkbox class="example-margin">Required</mat-checkbox>
                              </div>
                          </div>
                          <div class="field-data">
                              <div class="input-div">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Rate For Event</mat-label>
                                  <input matInput value="">
                                </mat-form-field>
                              </div>
                              <div class="answer-data">
                                  <!-- <h6>Answer</h6> -->
                                  <div class="answer-input">
                                      <h5>Left Side</h5>
                                      <div class="input-div">
                                        <mat-form-field class="example-full-width" floatLabel="never">
                                          <input matInput value="" placeholder="0">
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="answer-input">
                                    <h5>Right Side</h5>
                                    <div class="input-div">
                                      <mat-form-field class="example-full-width" floatLabel="never">
                                        <input matInput value="" placeholder="100">
                                      </mat-form-field>
                                    </div>
                                  </div>
                              </div>
                              <div class="delete-copy-option">
                                  <ul>
                                      <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                      <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="move-icon">
                              <img src="assets/icon/form/move.svg">
                          </div>
                        </div>

                        <!-- Drag & Drop Filed -->
                        <div class="feedback-field">
                              <div class="drag-drop-filed">
                                  <h3>Drag & Drop Filed</h3>
                              </div> 
                        </div>

                    </mat-card>
                </div>

                <!-- Feedback 2 -->
                <div class="feedback-main">
                  <mat-card>
                      <div class="heading">
                          <div class="text-part">
                              <h4>Feedback 2</h4>
                          </div>
                          <div class="edit-delete">
                              <ul>
                                  <li><a href="#"><img src="assets/icon/form/edit.svg"> Edit</a></li>
                                  <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                              </ul>
                          </div>
                      </div>

                      <!-- Text Box -->
                      <div class="feedback-field">
                          <div class="field-head">
                              <div class="text-part">
                                  <h5><img src="assets/icon/form/text-fill.svg"> Text Box</h5>
                              </div>
                              <div class="requird">
                                  <mat-checkbox class="example-margin">Required</mat-checkbox>
                              </div>
                          </div>
                          <div class="field-data">
                              <div class="input-div">
                                <mat-form-field class="example-full-width">
                                  <mat-label>What did you like about the entertainment event? What did you dislike about the  event?</mat-label>
                                  <input matInput value="">
                                </mat-form-field>
                              </div>
                              <div class="delete-copy-option">
                                  <ul>
                                      <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                      <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="move-icon">
                              <img src="assets/icon/form/move.svg">
                          </div>
                      </div>

                      <!-- Comment -->
                      <div class="feedback-field">
                        <div class="field-head">
                            <div class="text-part">
                                <h5><img src="assets/icon/form/comment.svg"> Comment</h5>
                            </div>
                            <div class="requird">
                                <mat-checkbox class="example-margin">Required</mat-checkbox>
                            </div>
                        </div>
                        <div class="field-data">
                            <div class="input-div">
                              <mat-form-field class="example-full-width">
                                <mat-label>Is there anything else you’d like to share about the entertainment event?</mat-label>
                                <input matInput value="">
                              </mat-form-field>
                            </div>
                            <div class="delete-copy-option">
                                <ul>
                                    <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                    <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="move-icon">
                            <img src="assets/icon/form/move.svg">
                        </div>
                      </div>

                      <!-- Contact info -->
                      <div class="feedback-field">
                        <div class="field-head">
                            <div class="text-part">
                                <h5><img src="assets/icon/form/contact-info.svg"> Contact info</h5>
                            </div>
                            <div class="requird">
                                <mat-checkbox class="example-margin">Required</mat-checkbox>
                            </div>
                        </div>
                        <div class="field-data">
                            <div class="answer-data">
                                <div class="answer-input">
                                    <div class="check-box">
                                        <mat-checkbox class="example-margin">Name</mat-checkbox>
                                    </div>
                                    <div class="input-div">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Enter your Name</mat-label>
                                        <input matInput value="">
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">Compny</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter Compny</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">Address</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter Address</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">Address 2</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter Address 2</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">City / Town</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter City</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">State</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter State</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">Country</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter Country</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">Email</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter Email</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="answer-input">
                                  <div class="check-box">
                                      <mat-checkbox class="example-margin">Phone</mat-checkbox>
                                  </div>
                                  <div class="input-div">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Enter Phone</mat-label>
                                      <input matInput value="">
                                    </mat-form-field>
                                  </div>
                                </div>
                            </div>
                            <div class="add-new">
                                <h5>+Add new</h5>
                            </div>
                            <div class="delete-copy-option">
                                <ul>
                                    <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                    <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="move-icon">
                            <img src="assets/icon/form/move.svg">
                        </div>
                      </div>

                       <!-- Date/Time -->
                       <div class="feedback-field">
                        <div class="field-head">
                            <div class="text-part">
                                <h5><img src="assets/icon/form/date-time.svg"> Date/Time</h5>
                            </div>
                            <div class="requird">
                                <mat-checkbox class="example-margin">Required</mat-checkbox>
                            </div>
                        </div>
                        <div class="field-data">
                            <div class="input-div">
                              <mat-form-field class="example-full-width">
                                <mat-label>Date/Time</mat-label>
                                <input matInput value="">
                              </mat-form-field>
                            </div>
                            <div class="answer-data">
                              <div class="date-time-data">
                                  <h6>Collect</h6>
                                  <mat-radio-group aria-label="Select an option">
                                    <ul>
                                        <li> <mat-radio-button value="1">Date</mat-radio-button></li>
                                        <li><mat-radio-button value="2">Time</mat-radio-button></li>
                                    </ul>
                                  </mat-radio-group>
                              </div>
                              <div class="date-time-data">
                                <h6>Select Formate</h6>
                                <mat-radio-group aria-label="Select an option">
                                  <ul>
                                      <li> <mat-radio-button value="1">MM / DD /YY</mat-radio-button></li>
                                      <li><mat-radio-button value="2">DD / MM / YY</mat-radio-button></li>
                                  </ul>
                                </mat-radio-group>
                              </div>
                              
                            </div>
                            <div class="delete-copy-option">
                                <ul>
                                    <li><a href="#"><img src="assets/icon/form/duplicate.svg"> Duplicate</a></li>
                                    <li><a href="#"><img src="assets/icon/form/delete.svg"> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="move-icon">
                            <img src="assets/icon/form/move.svg">
                        </div>
                      </div>
                      

                  </mat-card>
                </div>

                <div class="add-new-section">
                    <h5><span>+</span> Add Section</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-field-part">
                <h2>Create Field</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices sem non viverra placerat.</p>

                <div class="form-field">
                    <ul>
                        <li>
                            <div class="field-box">
                                <h4> <img src="assets/icon/form/dropdown.svg"> Dropdown</h4>
                            </div>
                          </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/checkbox.svg"> Checkbox</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/multiple-choice.svg"> Multiple Choice</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/ranking.svg"> Ranking</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/ratting.svg"> Ratting</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/slider.svg"> Slider</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/text-fill.svg"> Text Fill</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/comment.svg"> Comment</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/contact-info.svg"> Contact info</h4>
                          </div>
                        </li>
                        <li>
                          <div class="field-box">
                              <h4> <img src="assets/icon/form/date-time.svg"> Date/Time</h4>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
      </div>
    
      <div class="survey-form-footer">
          <div class="row m-0">
            <div class="col-xs-6 col-md-6 p-0">
                <div class="next-back back">
                    <button>Cancel</button>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 p-0 text-right">
                <div class="next-back next">
                  <button class="preview">Preview</button>  
                  <button>Save</button>
                </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
