<div class="card-details payment-info1">
  <fieldset>
    <legend><img src="assets/icon/secure-payment-green.svg"></legend>
    <form class="example-form" id="paymentForm">
        <div id="card-container"></div>
        <!-- <button id="card-button" type="button">Pay</button> -->
      <!-- <div id="payment-status-container"></div> -->
     
      <!-- <i id="sq-creditcard" class="btn-main button-credit-card"
              (click)="requestCardNonce($event)"></i> -->
    </form>
  </fieldset>
</div>


<!-- <div class="card-details payment-info1">
  <fieldset>
    <legend><img src="assets/icon/secure-payment-green.svg"></legend>
    <form class="example-form" id="paymentForm">
      <h2>Pay with a Credit Card</h2>
      <label for="sq-card-number">Card Number:</label>
      <div class="cardinput" id="sq-card-number" style="padding:0px!important"></div>
      <div class="row">
        <div class="col-sm-4">
          <label for="sq-cvv">CVV:</label>
          <div id="sq-cvv" class="cardinput"></div>
        </div>
        <div class="col-sm-4">
          <label for="sq-expiration-date">Expiration Date:</label>
          <div id="sq-expiration-date" class="cardinput"></div>
        </div>
        <div class="col-sm-4">
          <label for="sq-postal-code">Zip Code:</label>
          <div class="cardinput" id="sq-postal-code" (keypress)="numberOnly($event)"></div>
        </div>
      </div> -->



      <!-- <i id="sq-creditcard" class="btn-main button-credit-card"
              (click)="requestCardNonce($event)"></i> -->
<!-- 
    </form>
  </fieldset>
</div> -->



