<div class="create-event-right-side common-page ">
  <div class="main-asset-sum">
    <div class="row">
      <div class="col-sm-6 ">
       <div class="topmainhead">
        <button>
          <img src="assets/icon/back.svg" alt="">
        </button>
        <h2> Rose Valley Hall
          <span><i>17 Dec 2020</i> - 10 Request Pending</span>
        </h2>
       </div>
      </div>
      <div class="col-sm-6">
        <button class="edit-assets">Edit Asset</button>
      </div>
    </div>
    <div class="main-tab-summery">
      <mat-tab-group>
        <!-- =========================== Dashboard ================================ -->
        <mat-tab label="dashboard">
          <ng-template mat-tab-label>
            <ul>
              <li><span>Summery </span></li>
            </ul>
          </ng-template>
          <div class="booking-head">
            <div class="row main-asset">
              <div class="col-sm-6 bookflex">
                <h4>Summery</h4>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="dashboard">
          <ng-template mat-tab-label>
            <ul>
              <li><span>Booking </span></li>
            </ul>
          </ng-template>
          <div class="booking-head">
            <div class="row main-asset">
              <div class="col-sm-6 bookflex">
                <h4>Booking</h4>
                <div class="booking-btn">
                  <button class="active">upcomming</button>
                  <button>past</button>
                </div>
              </div>
              <div class="col-sm-6 searchmem">
                <mat-form-field class="example-full-width search2">
                  <mat-label> Search..</mat-label>
                  <input  matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="summery-box">
                  <div class="row">
                    <div class="col-sm-6 bookingid">
                      Booking ID: 252525
                    </div>
                    <div class="col-sm-6 activeb">
                      <span>active</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="namebooking">
                        <li> George Scott</li>
                        <li> +1 652 235 252</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="datebooking">
                        <li> 2 Jan 2021 | 12:45PM</li>
                        <li> Rose Valley Hall </li>
                      </ul>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="booking-conference">
                        <li>
                          <span> Booking for</span>
                          conference
                        </li>
                        <li>
                          <span> Date</span>
                          14 Jan 2021
                        </li>
                        <li>
                          <span> Booking Till</span>
                          Full Day
                        </li>
                        <li>
                          <span> Expected Guests</span>
                          50
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row bortopbooking">
                    <div class="line"></div>
                    <div class="col-sm-6">
                      <button class="decline"> Decline </button>
                    </div>
                    <div class="col-sm-6">
                      <button class="decline accept"> Accept </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="summery-box">
                  <div class="row">
                    <div class="col-sm-6 bookingid">
                      Booking ID: 252525
                    </div>
                    <div class="col-sm-6 activeb">
                      <span>active</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="namebooking">
                        <li> George Scott</li>
                        <li> +1 652 235 252</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="datebooking">
                        <li> 2 Jan 2021 | 12:45PM</li>
                        <li> Rose Valley Hall </li>
                      </ul>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="booking-conference">
                        <li>
                          <span> Booking for</span>
                          conference
                        </li>
                        <li>
                          <span> Date</span>
                          14 Jan 2021
                        </li>
                        <li>
                          <span> Booking Till</span>
                          Full Day
                        </li>
                        <li>
                          <span> Expected Guests</span>
                          50
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row bortopbooking">
                    <div class="line"></div>
                    <div class="col-sm-6">
                      <button class="decline"> Decline </button>
                    </div>
                    <div class="col-sm-6">
                      <button class="decline accept"> Accept </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="summery-box">
                  <div class="row">
                    <div class="col-sm-6 bookingid">
                      Booking ID: 252525
                    </div>
                    <div class="col-sm-6 activeb">
                      <span>active</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="namebooking">
                        <li> George Scott</li>
                        <li> +1 652 235 252</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="datebooking">
                        <li> 2 Jan 2021 | 12:45PM</li>
                        <li> Rose Valley Hall </li>
                      </ul>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="booking-conference">
                        <li>
                          <span> Booking for</span>
                          conference
                        </li>
                        <li>
                          <span> Date</span>
                          14 Jan 2021
                        </li>
                        <li>
                          <span> Booking Till</span>
                          Full Day
                        </li>
                        <li>
                          <span> Expected Guests</span>
                          50
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row bortopbooking">
                    <div class="line"></div>
                    <div class="col-sm-6">
                      <button class="decline"> Decline </button>
                    </div>
                    <div class="col-sm-6">
                      <button class="decline accept"> Accept </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="summery-box">
                  <div class="row">
                    <div class="col-sm-6 bookingid">
                      Booking ID: 252525
                    </div>
                    <div class="col-sm-6 activeb">
                      <span>active</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="namebooking">
                        <li> George Scott</li>
                        <li> +1 652 235 252</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="datebooking">
                        <li> 2 Jan 2021 | 12:45PM</li>
                        <li> Rose Valley Hall </li>
                      </ul>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="booking-conference">
                        <li>
                          <span> Booking for</span>
                          conference
                        </li>
                        <li>
                          <span> Date</span>
                          14 Jan 2021
                        </li>
                        <li>
                          <span> Booking Till</span>
                          Full Day
                        </li>
                        <li>
                          <span> Expected Guests</span>
                          50
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row bortopbooking">
                    <div class="line"></div>
                    <div class="col-sm-6">
                      <button class="decline"> Decline </button>
                    </div>
                    <div class="col-sm-6">
                      <button class="decline accept"> Accept </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="summery-box">
                  <div class="row">
                    <div class="col-sm-6 bookingid">
                      Booking ID: 252525
                    </div>
                    <div class="col-sm-6 activeb">
                      <span>active</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="namebooking">
                        <li> George Scott</li>
                        <li> +1 652 235 252</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="datebooking">
                        <li> 2 Jan 2021 | 12:45PM</li>
                        <li> Rose Valley Hall </li>
                      </ul>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="booking-conference">
                        <li>
                          <span> Booking for</span>
                          conference
                        </li>
                        <li>
                          <span> Date</span>
                          14 Jan 2021
                        </li>
                        <li>
                          <span> Booking Till</span>
                          Full Day
                        </li>
                        <li>
                          <span> Expected Guests</span>
                          50
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row bortopbooking">
                    <div class="line"></div>
                    <div class="col-sm-6">
                      <button class="decline"> Decline </button>
                    </div>
                    <div class="col-sm-6">
                      <button class="decline accept"> Accept </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="dashboard">
          <ng-template mat-tab-label>
            <ul>
              <li><span>Details </span></li>
            </ul>
          </ng-template>
          <div class="booking-head">
            <div class="row main-asset">
              <div class="col-sm-6 bookflex">
                <h4>Details</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 conferencehall">
                <h5>Rose Valley Hall</h5>
                Conference Hall
              </div>
              <div class="col-sm-6 conferencehall capecity">
                <h5>$20 Per Day</h5>
                200 People Capecity
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul class="contactnum">
                  <li>
                    <span>Contact Number</span>
                    +253-652-352
                  </li>
                  <li>
                    <span>Address</span>
                    23 Fort street
                  </li>
                  <li>
                    <span>Details</span>
                    Text will come here
                  </li>
                  <li>
                    <span>Terms & Conditions</span>
                    Text will come here
                  </li>
                  <li>
                    <span>Photos</span>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                    <i> <img src="assets/images/about-img.jpg" alt=""></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>