.membership-plan-main{padding: 20px 50px 50px; background: #F4F6FC; height: 100vh;
    .left-part-plan{background: #fff; padding: 15px 0 0; position: relative; height: calc(100vh - 38px);
        .header-tlt{position: sticky; top: 0; z-index: 999; background: #fff; padding: 10px;
            h1{font-size: 25px; font-weight: 700; color: var(--primary-color); margin: 0; position: relative; padding-left: 40px;
                img{width: 30px; position: absolute; top: 0; left: 0; cursor: pointer;}
            }
        }
        .page-staps-details{padding: 10px 15px;
            ul{margin: 0; padding: 0; background: #F5F5F5; padding: 10px; border-radius: 50px; display: flex; justify-content: space-around;
                li{list-style: none; display: inline-block; color: var(--text-clr); font-size: 18px; font-weight: 400;
                    span{font-size: 20px; color: var(--text-clr); margin-right: 10px;}
                    &.selected{ color: var(--primary-color);
                        span{color: var(--primary-color);}
                    }
                    &.green-clr{color: #4CAF50;
                        span{color: #4CAF50;}
                    }
                }
            }
        }
        .tabs-part-plan{height: 81%; background: #fff;  overflow: auto;
            .tab-data-plan{ //padding-top: 25px;
                h2{font-size: 17px; font-weight: 700; color: var(--text-clr); margin: 0; padding-left: 20px;  text-transform: uppercase;
                    a{text-decoration: underline; color: var(--primary-color);}
                }
                .plan-main{padding: 10px 5px;}
                .card-data{padding: 0 15px; margin: 15px 0;
                    mat-card{box-shadow: 0 0 10px #ccc; padding: 16px 15px; border-radius: 7px;
                        .box-part-main{display: flex;
                            .text-part{position: relative; padding-left: 30px; flex: 1;
                                mat-radio-button{position: absolute; left: 0; top: 0;}
                                h4{font-size: 15px; font-weight: 700; color: var(--primary-color); margin: 0 0 5px 0;}
                                h3{font-size: 13px; font-weight: 600; color: #000000; margin: 0 0 5px 0;}
                                p{font-size: 15px; font-weight: 400; color: #000000; margin: 0; width: 100%; text-align: justify; display: block;}
                            }
                            .input-box{align-self: auto; margin-left: 20px;
                                mat-label{color: var(--text-clr); font-weight: 400; font-size: 14px;}
                                mat-form-field{margin-bottom: 0px; margin-top: 0px;}
                            }
                        }

                    }
                }
            }
        }
        .left-footer{ padding: 10px; position: sticky; bottom: 0; width: 100%; z-index: 999; background: #fff; box-shadow: 0 0 10px #ccc;
            .next-back{padding: 0 10px;
                button{border-radius: 50px; font-size: 15px; font-weight: 700; padding: 6px 13px; border: 0; outline: none;
                    i{font-size: 20px;}
                }
                &.back{
                    button{background: #F5F5F5; color: var(--text-clr); box-shadow: 0 0 10px #C4B7B7;
                        i{margin-right: 15px; color: var(--text-clr);}
                    }
                }
                &.next{
                    button{background: var(--primary-color); color: #fff; box-shadow: 0 0 10px #797979;
                        i{margin-left: 15px; color: #fff;}
                    }
                }
            }
        }
    }
    .right-part-plan{background: #F1F1F1; padding: 15px 20px; height: 100%;
        h2{font-size: 22px; font-weight: 700; color: var(--text-clr); margin: 0; padding-left: 15px; text-transform: uppercase;}
        .table-part{background: #fff; border-radius: 5px; box-shadow: 0 0 10px #ccc; padding: 5px 15px; margin: 20px 0;
            table{width: 100%;
                tr{
                    td{font-size: 15px; font-weight: 600; color: #000; padding: 9px 4px;
                        &.blue-clr-text{color: var(--primary-color);}
                        &:last-child{text-align: right;}
                    }
                }
                tfoot{border-top: 1px solid #ccc;}
            }
        }
    }
    .p-0{padding: 0 !important;}
    .m-0{margin: 0 !important;}
}
body.modal-open{
    app-sponsor-donor-plan-new{filter: blur(5px) !important;}
}
.summaryinmobile{ display: none; }

@media screen and ( max-width: 991px ) {
    .membership-plan-main .left-part-plan .tabs-part-plan .tab-data-plan .card-data mat-card .box-part-main { display: block;     }
    .membership-plan-main .left-part-plan .tabs-part-plan .tab-data-plan .card-data mat-card .box-part-main .input-box {  margin-left: 27px; margin-top: 10px; }
}

@media screen and ( max-width: 767px ) {
    .membership-plan-main .left-part-plan .header-tlt h1 { font-size: 18px; }
    .tabs-part-plan .mat-form-field-prefix, .tabs-part-plan .mat-form-field-suffix { left: -16px; }
    .mat-form-field-appearance-fill .mat-form-field-flex { padding: .75em .15em 0 .15em; }
    .membership-plan-main .left-part-plan .tabs-part-plan .tab-data-plan .card-data mat-card .box-part-main .input-box { width: calc(100% - 40px); font-size: 12px; }
    .mat-form-field-appearance-fill .mat-form-field-flex { padding: 0px; }
    .membership-plan-main .left-part-plan .tabs-part-plan .tab-data-plan .card-data { padding: 0 15px; margin: 5px 0 0px 0; }
    .chapter-name{ width: 100%; padding: 0px;}
    .membership-plan-main .right-part-plan { background: transparent; padding: 0px 0px; margin-bottom: 10px; height: auto;
        h2{ padding-left: 0px; font-size: 18px; padding-top: 15px;}
    }
    .membership-plan-main .right-part-plan .table-part { margin: 15px 0;}
    .membership-plan-main .right-part-plan .promocode-part{ margin: 0px 0 15px;}
    .membership-plan-main .right-part-plan .table-part { margin: 8px 0 15px;}
    .membership-plan-main .right-part-plan { height: auto;}
    .membership-plan-main .right-part-plan h2{ font-size: 18px; padding-top: 15px;}
    .summaryinmobile{ display: block;}
    .summary-not-mobile{ display: none;}
}
