<!-- <div class="container-fluid">
    <div class="row height100">
      <div class="col-md-6">
          <div class="login-logo">
            <img src="assets/images/cclogo.png" alt="">
          </div>
      </div>
      <div class="col-md-6 full-wid">
        <div class="rightpart">
          <div class="main-box">
            <h3>
              Welcome
            </h3>
            <form id="resetPasswordForm" [formGroup]="resetPasswordForm">
                <div class="group">
                  <input type="password" formControlName="password">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Password</label>
                  <div *ngIf="resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched || resetPasswordForm.controls.password.valid">
                    <div class="valid-msg" *ngIf="resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.pattern">Password must contain at least following: numbers, lowercase letters, uppercase letters, and special characters.</div>
                  </div>
                </div>
                <div class="group">
                    <input type="password" formControlName="cPassword">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Confirm Password</label>
                  </div>
                <div class="login-button" (click)="resetPassword()">
                  <button>Change</button>
                </div>
              </form>
          </div>
        </div>
       </div>
    </div>
  </div> -->

<div class="main-slide">
  <div class="dragslider">

    <!-- Forgot password  -->
    <div class="reset-responsive">
      <div class="login-lft-bg float-l">
        <div class="midle-content">
          <h1>{{'resetPasswordContent.title' | translate}}</h1>
          <p [innerHTML] = "'resetPasswordContent.description' | translate"></p>
          <!-- <h2>EXPLORE MORE BY LOGGING</h2>
          <p>Welcome back to community connect Login and participate in diffrent online event and be part of the community gattering online while quarantine .</p> -->
          <!-- <div class="registerbtn-b">
            <button id="signIn" >
              Login
              <span class="left-bor"></span>
              <span class="right-bor"></span>
              <span class="top-bor"></span>
              <span class="bottom-bor"></span>
            </button>
          </div> -->
        </div>
      </div>
      <div class="login-rgt-bg float-l">

        <!-- <form id="resetPasswordForm" [formGroup]="resetPasswordForm">
          <div class="login-input-area forgot-p">
            <input type="password" formControlName="password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
            <div *ngIf="resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched || resetPasswordForm.controls.password.valid">
              <div class="valid-msg" *ngIf="resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.pattern">Password must contain at least following: numbers, lowercase letters, uppercase letters, and special characters.</div>
            </div>
          </div>
          <div class="group">
              <input type="password" formControlName="cPassword">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Confirm Password</label>
            </div>
          <div class="login-button" (click)="resetPassword()">
            <button>Change</button>
          </div>
        </form> -->

        <!-- =============== forgot form | pradip kor : 09-01-2020 ============== -->
        <form [formGroup]="resetPasswordForm" id="resetPasswordForm">
          <div class="login-input-area forgot-p">
            <div class="logo-l" *ngIf="communityService.logo?.logo && communityService.logo?.logo2 != null && communityService.logo?.logo2.url != null && communityService.logo?.logo2.url != ''">
              <!-- <img src="assets/icon/logo.svg" alt=""> -->
              <!-- <img *ngIf="communityService.logo?.logo" src="{{communityService.logo?.logo?.url}}" alt="">
              <img *ngIf="communityService.logo?.logo2" src="{{communityService.logo?.logo2?.url}}" alt=""> -->
              <a   routerLink="">
                <ul>
                  <li ><img alt="logo" *ngIf="communityService.logo?.logo" [src]="communityService.logo?.logo?.url|communityImages"></li>
                  <li ><img alt="logo" *ngIf="communityService.logo?.logo2" [src]="communityService.logo?.logo2?.url|communityImages"></li>
                </ul>
              </a>
            </div>
            <a   routerLink="">
              <span class="singlelogo" *ngIf="communityService.logo?.logo && (communityService.logo?.logo2 == null || communityService.logo?.logo2.url == null || communityService.logo?.logo2.url == '')">
                <img alt="logo" *ngIf="communityService.logo?.logo" [src]="communityService.logo?.logo?.url|communityImages">
              </span>
            </a>
            <h1>
              Create Password
            </h1>
            <div class="styled-input">
              <input formControlName="password" type="password">
              <label>Password</label>
              <!-- <div *ngIf="resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched || resetPasswordForm.controls.password.valid">
                <div class="valid-msg" *ngIf="resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.pattern">Password must contain at least following: numbers, lowercase letters, uppercase letters, and special characters.</div>
              </div> -->
            </div>
            <div class="styled-input">
              <input formControlName="cPassword" type="password">
              <label>Confirm Password</label>
            </div>

            <div class="valid-msg">Note : <br>
              <ul>
                <li style="list-style: outside;">Password length should be at least 8 Characters.</li>
                <li style="list-style: outside;">Password must contain following:<br>
                  <ul>
                    <li style="list-style: inside;">At least 1 number</li>
                    <li style="list-style: inside;">At least 1 lowercase letter</li>
                    <li style="list-style: inside;">At least 1 uppercase letter</li>
                    <li style="list-style: inside;">At least 1 special character</li>
                  </ul>
                </li>
              </ul>
            </div>


            <div  class="login-b">
              <button type="button" (click)="HomeClick()" style="margin-right: 15px;">
                <span class="left-bor"></span>
                <span class="right-bor"></span>
                <span class="top-bor"></span>
                <span class="bottom-bor"></span>
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Home
              </button>
              <button type="submit" (click)="resetPassword()">
                <span class="left-bor"></span>
                <span class="right-bor"></span>
                <span class="top-bor"></span>
                <span class="bottom-bor"></span>
               Save
              </button>
            </div>

          </div>
        </form>
        <!-- *ngIf="sendOTPHTML" -->


        <!-- =========================================================================== -->


      </div>
    </div>
    <!-- Forgot password  -->
  </div>
</div>





