.singlelogo{ display: block; text-align: center;
    img{ width: 230px;}
  }

  .logo-l{ 
    li{ display: inline-block;}
  }

  @media screen and (max-width: 767px) {
    .singlelogo img { width: 190px; }
  }