<div class="create-event-right-side common-page">
      <div class="survey-form-main">
          <div class="header-form">
              <div class="row">
                <div class="col-md-8">
                    <h1>Community Settings</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="col-md-4 text-right">
                  <mat-form-field class="example-full-width">
                    <mat-label>Search Events....</mat-label>
                    <input matInput value="">
                    <img matPrefix src="assets/icon/search-form.svg">
                  </mat-form-field>
                  <div class="button-add-survey">
                      <button>+ Add Survey</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="table-data">
              <!-- table -->
            <div class="row">
                <div class="col-md-12">
                  <div class="donation-sponsor">
                    <table>
                      <thead>
                        <tr>
                          <th class="sortable">Title</th>
                          <th class="sortable">Mdified </th>
                          <th class="sortable"> RESPONSES</th>
                          <th class="sortable">Design</th>
                          <th class="sortable">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="title-data">
                                <h3>Event Summery</h3>
                                <p>Created: 12/17/2020</p>
                            </div>
                          </td>
                          
                          <td>12/17/2020</td>
                          <td><span class="blue">37</span></td>
                          <td><span class="fa fa-edit blue"></span></td>
                          <td>
                            <div class="dropdown dropup moredrop editgallery">
                              <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                <img alt="" src="assets/icon/interface.svg">
                              </a>
                              <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                <a  class="dropdown-item"> Design <i aria-hidden="true" class="fa fa-pencil "></i></a>
                                <a  class="dropdown-item"> Delete <i aria-hidden="true" class="fa fa-trash"></i></a>
                                <a  class="dropdown-item"> Make a Copy <i aria-hidden="true" class="fa fa-files-o"></i></a>
                                <a  class="dropdown-item">View Response<i aria-hidden="true" class="fa fa-eye"></i></a>
                                <a  class="dropdown-item">Assign Survey</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="title-data">
                                <h3>Event Summery</h3>
                                <p>Created: 12/17/2020</p>
                            </div>
                          </td>
                          
                          <td>12/17/2020</td>
                          <td><span class="blue">37</span></td>
                          <td><span class="fa fa-edit blue"></span></td>
                          <td>
                            <div class="dropdown dropup moredrop editgallery">
                              <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                <img alt="" src="assets/icon/interface.svg">
                              </a>
                              <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                <a  class="dropdown-item"> Design <i aria-hidden="true" class="fa fa-pencil "></i></a>
                                <a  class="dropdown-item"> Delete <i aria-hidden="true" class="fa fa-trash"></i></a>
                                <a  class="dropdown-item"> Make a Copy <i aria-hidden="true" class="fa fa-files-o"></i></a>
                                <a  class="dropdown-item">View Response<i aria-hidden="true" class="fa fa-eye"></i></a>
                                <a  class="dropdown-item">Assign Survey</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="title-data">
                                <h3>Event Summery</h3>
                                <p>Created: 12/17/2020</p>
                            </div>
                          </td>
                          
                          <td>12/17/2020</td>
                          <td><span class="blue">37</span></td>
                          <td><span class="fa fa-edit blue"></span></td>
                          <td>
                            <div class="dropdown dropup moredrop editgallery">
                              <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                <img alt="" src="assets/icon/interface.svg">
                              </a>
                              <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                <a  class="dropdown-item"> Design <i aria-hidden="true" class="fa fa-pencil "></i></a>
                                <a  class="dropdown-item"> Delete <i aria-hidden="true" class="fa fa-trash"></i></a>
                                <a  class="dropdown-item"> Make a Copy <i aria-hidden="true" class="fa fa-files-o"></i></a>
                                <a  class="dropdown-item">View Response<i aria-hidden="true" class="fa fa-eye"></i></a>
                                <a  class="dropdown-item">Assign Survey</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="pegination-main">
                      <ul>
                        <li>
                          <button class="next">
                            First
                          </button>
                        </li>
                        <li>
                          <button class="arrow">
                            <i aria-hidden="true" class="icon-left-arrow icon"></i>
                          </button>
                        </li>
                        <li>
                          <button class="numeric">1</button>
                        </li>
                        <li>
                          <button class="arrow">
                            <i aria-hidden="true" class="icon-right-arrow icon"></i>
                          </button>
                        </li>
                        <li>
                          <button class="next">Last</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
</div>