
<div class="mb-4" draggable="true">
  
  <ul class="uploader m-0">
    <li  *ngIf="showUploader">
      <div class="p10" (click)="addAttachement()">
        <div class="img"><i class="mdi mdi-attachment mdi-rotate-135 p-0 color-skyblue mdi-24px"> </i></div>
        <a class="fw-600 color-darkblue fs-14">
        &nbsp;<i class="mdi mdi-information-outline" placement="top"
            [matTooltip]="validTypes.join(', ')+' file extensions are allowed'"></i>
        </a>
      </div>
      <input type="file" multiple class="__file_uploader_input" #fileInput [hidden]="true"
        (change)="fileUpload($event)">
    </li>
  </ul>
  <br>

  <table class="table col-12 preview-files mb-1" *ngFor="let file of uploadedFiles;let i = index;">
    <tr>
    
      <td class="w-30px" *ngIf=" showUploader">
        <img [src]="file.responseData?.data?.imageUrl ? (file.responseData?.data?.imageUrl | communityImages) : UPLOAD_PLACEHOLDER " alt="community">

      </td>
      <td class="doc-nm"> {{file.sortName}} </td>
      <td *ngIf="file.responseData && showUploader" (click)="removeFile(i)" class="remove">
      <!-- <img src="assets/icon/delete-blue.svg" alt="" class="del-blue"> -->
      <i class="icon-delete-blue newicon"></i>
      </td>
    </tr>
  </table>
</div>
