.hideSubMember { display: none; }
.save-changes.fright { background: var(--secondary-color)!important; color: #fff; }
.confirm-pay.fright { background: var(--green-dark)!important; color: #fff; }


// .session-icon{ background: url(../../../../../assets/icon/tab20.svg) no-repeat!important; background-size: 20px!important;}
// .session-icon.is-done{ background: url(../../../../../assets/icon/tab20-b.svg) no-repeat!important; background-size: 14px!important;}

// .invoice-config{ background: url(../../../../../assets/icon/invoice_cc.svg) no-repeat!important; background-size: 20px!important;}
// .invoice-config.is-done{ background: url(../../../../../assets/icon/invoice_cc-b.svg) no-repeat!important; background-size: 20px!important;}


