<div class="mainnewsscreen main-screen" >
  <section class="inner-banner commontopmargin">
    <div class="blue-bg-banner"><span></span></div>
    <div class="slid-left-blue-dots">
      <img alt="" src="assets/images/inner-left-dots.png">
    </div>
    <div class="container">
      <div class="red-inner">
        <div class="row">
          <div  animationName="animated slideInLeft" class="col-md-6 col-sm-6">
            <h2 class="inner-page-tlt">Become a Sponsor</h2>
          </div>
          <div  animationName="animated slideInRight" class="col-md-6 col-sm-6 news-bread">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{'home' | translate}}</a></li>
                <li aria-current="page" class="breadcrumb-item active">Become a Sponsor </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="scholarship-head">
          IANT Annual Package 2021 Events
        </div>
      </div>
      <div class="col-sm-2">
        <a class="button-benefit" target="_blank" [routerLink]="'/sponsor-checkout-new/chapter/'+this.chapter?.id"> Annual Sponsor </a>
      </div>
        <div class="col-sm-2">

        <a class="button-benefit" target="_blank" [routerLink]="'/anand-bazzar'"> Anand Bazaar </a>
        </div>
          <div class="col-sm-2">

        <a class="button-benefit" target="_blank"> Virtual Sponsor </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="sponsorship-tab">
          <table cellspacing="10" cellpadding="10">
            <tr>
              <th>
                <span class="bg8">
                  IANT Sponsorship Benefits
                </span>
              </th>
              <th width="120">
                <span class="bg1">
                  Presenting
                </span>
              </th>
              <th width="120">
                <span class="bg2">
                  Platinum
                </span>
              </th>
              <th width="120">
                <span class="bg3">
                  Corporate
                </span>
              </th>
              <th width="120">
                <span class="bg4">
                  Gold
                </span>
              </th>
              <th width="120">
                <span class="bg5">
                  Silver
                </span>
              </th>
              <th width="120">
                <span class="bg6">
                  Supporting
                </span>
              </th>
              <th width="120">
                <span class="bg7">
                  Friends of IANT
                </span>
              </th>
            </tr>
            <tr class="sponsoramnt">
              <td>
                <span> Sponsorship Amount (USD) </span>
              </td>
              <td>
                <span> $20,000 </span>
              </td>
              <td>
                <span> $15,000 </span>
              </td>
              <td>
                <span> $10,000 </span>
              </td>
              <td>
                <span> $5,000</span>
              </td>
              <td>
                <span> $3,000 </span>
              </td>
              <td>
                <span> $1,500 </span>
              </td>
              <td>
                <span> $500 </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Complimentary VIP Tickets for
                  IANT Signature events India Day
                  and Anand Bazaar (if IANT holds in
                  person events) </span>
              </td>
              <td>
                <span class="bg01"> 12 </span>
              </td>
              <td>
                <span class="bg02"> 10 </span>
              </td>
              <td>
                <span class="bg03"> 8 </span>
              </td>
              <td>
                <span class="bg04"> 4</span>
              </td>
              <td>
                <span class="bg05"> 2 </span>
              </td>
              <td>
                <span class="bg06"> 1 </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Multimedia Advertising; Slide show /
                  video clip not to exceed 10 seconds
                  (in person events) </span>
              </td>
              <td>
                <span class="bg01"> 8 </span>
              </td>
              <td>
                <span class="bg02"> 6 </span>
              </td>
              <td>
                <span class="bg03"> 4 </span>
              </td>
              <td>
                <span class="bg04"> 2</span>
              </td>
              <td>
                <span class="bg05"> 1 </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Complimentary Booth at Anand Bazaar </span>
              </td>
              <td>
                <span class="bg01"> 4 </span>
              </td>
              <td>
                <span class="bg02"> 3 </span>
              </td>
              <td>
                <span class="bg03"> 2 </span>
              </td>
              <td>
                <span class="bg04"> 1</span>
              </td>
              <td>
                <span class="bg05"> 1 </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Advertisement in Bharati Magazine
                  (Make a Call at Trustee meeting) </span>
              </td>
              <td>
                <span class="bg01"> Full page
                  color </span>
              </td>
              <td>
                <span class="bg02"> Full page
                  color </span>
              </td>
              <td>
                <span class="bg03"> Full page
                  color </span>
              </td>
              <td>
                <span class="bg04"> Half page
                  B & W</span>
              </td>
              <td>
                <span class="bg05"> Half page
                  B & W </span>
              </td>
              <td>
                <span class="bg06"> Quarter
                  Page B&W </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Alternate Saturday 10 Second Radio
                  Bharati Advertisement per show
                  (Clarification from Radio Caravan – Can
                  we give 2 minutes of audio
                  advertisement?) </span>
              </td>
              <td>
                <span class="bg01"> 4 Spots </span>
              </td>
              <td>
                <span class="bg02"> 2 Spots </span>
              </td>
              <td>
                <span class="bg03"> 1 Spots </span>
              </td>
              <td>
                <span class="bg04"> 1 Spots</span>
              </td>
              <td>
                <span class="bg05"> 1 Spots </span>
              </td>
              <td>
                <span class="bg06"> 1 Spots </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Live Interview on Radio Bharati Program </span>
              </td>
              <td>
                <span class="bg01"> 8 Spots Up to
                  20 Minutes
                 per spot </span>
              </td>
              <td>
                <span class="bg02"> 6 Spots Up to
                  20 Minutes
                 per spot </span>
              </td>
              <td>
                <span class="bg03"> 4 Spots Up to
                  20 Minutes
                 per spot </span>
              </td>
              <td>
                <span class="bg04"> 3 Spots Up to
                  15 Minutes
                 per spot</span>
              </td>
              <td>
                <span class="bg05"> 2 Spots Up to
                  10 Minutes
                 per spot </span>
              </td>
              <td>
                <span class="bg06"> 2 Spots Up to
                  5 Minutes
                 per spot </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Advertisement in Event Program Brochure (if

                  available) </span>
              </td>
              <td>
                <span class="bg01">Color </span>
              </td>
              <td>
                <span class="bg02"> Color </span>
              </td>
              <td>
                <span class="bg03"> B&W </span>
              </td>
              <td>
                <span class="bg04"> B&W pag</span>
              </td>
              <td>
                <span class="bg05"> B&W </span>
              </td>
              <td>
                <span class="bg06">Recognition </span>
              </td>
              <td>
                <span class="bg07"> Recognition </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Logo on IANT Website and Flyers </span>
              </td>
              <td>
                <span class="bg01">Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06">N </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Your organization weblink on IANT Website </span>
              </td>
              <td>
                <span class="bg01">Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06">Y </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Advertisement in IANT Newsletters </span>
              </td>
              <td>
                <span class="bg01">Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06">Y </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Recognize with a Plaque </span>
              </td>
              <td>
                <span class="bg01">Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06">- </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Company Banners at Event location (Max size

                  4X6) </span>
              </td>
              <td>
                <span class="bg01">Up to 6 Banners </span>
              </td>
              <td>
                <span class="bg02"> Up to 5 Banners </span>
              </td>
              <td>
                <span class="bg03"> Up to 4 Banners </span>
              </td>
              <td>
                <span class="bg04"> Up to 3 Banners </span>
              </td>
              <td>
                <span class="bg05"> Up to 2 Banners </span>
              </td>
              <td>
                <span class="bg06"> 1 – Size 2X </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Your Organization Marketing Standees

                  (Subject to Space) </span>
              </td>
              <td>
                <span class="bg01"> Up to 4 Standees </span>
              </td>
              <td>
                <span class="bg02"> Up to 3 Standees </span>
              </td>
              <td>
                <span class="bg03"> Up to 2 Standees </span>
              </td>
              <td>
                <span class="bg04"> Up to 1 Standees </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Recognition in Publications or Post Event

                  Updates to Community </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06"> Y </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Seat on IANT’s Corporate Advisory Forum

                  (Need input from Trustees – structure this) </span>
              </td>
              <td>
                <span class="bg01"> 2 </span>
              </td>
              <td>
                <span class="bg02"> 1 </span>
              </td>
              <td>
                <span class="bg03"> 1 </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Recognitions Pre/post/during Event Functions

                  – One Speaker </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Stage Time for Company Representative </span>
              </td>
              <td>
                <span class="bg01"> 5 Minutes </span>
              </td>
              <td>
                <span class="bg02"> 3 Minutes </span>
              </td>
              <td>
                <span class="bg03"> 2 Minutes </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Press Release Recognition </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> - </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Company Banner at Stage Area at

                  Anand Bazaar </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> - </span>
              </td>
              <td>
                <span class="bg03"> - </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Corporate Logo on Events Tickets </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> - </span>
              </td>
              <td>
                <span class="bg03"> - </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="scholarship-head virtualtop" >
          Virtual Events Sponsorship Benefits
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="sponsorship-tab" style="padding-bottom: 30px;">
          <table cellspacing="10" cellpadding="10">
            <tr>
              <th>
                <span class="bg8">
                  IANT Sponsorship Benefits
                </span>
              </th>
              <th width="120">
                <span class="bg1">
                  Presenting
                </span>
              </th>
              <th width="120">
                <span class="bg2">
                  Platinum
                </span>
              </th>
              <th width="120">
                <span class="bg3">
                  Corporate
                </span>
              </th>
              <th width="120">
                <span class="bg4">
                  Gold
                </span>
              </th>
              <th width="120">
                <span class="bg5">
                  Silver
                </span>
              </th>
              <th width="120">
                <span class="bg6">
                  Supporting
                </span>
              </th>
              <th width="120">
                <span class="bg7">
                  Friends of IANT
                </span>
              </th>
            </tr>
            <tr class="sponsoramnt">
              <td>
                <span> Sponsorship Amount (USD) </span>
              </td>
              <td>
                <span> $20,000 </span>
              </td>
              <td>
                <span> $15,000 </span>
              </td>
              <td>
                <span> $10,000 </span>
              </td>
              <td>
                <span> $5,000</span>
              </td>
              <td>
                <span> $3,000 </span>
              </td>
              <td>
                <span> $1,500 </span>
              </td>
              <td>
                <span> $500 </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Multimedia Advertising; Slide show / video

                  clip not to exceed 10 seconds (in person

                  events) </span>
              </td>
              <td>
                <span class="bg01"> 8 </span>
              </td>
              <td>
                <span class="bg02"> 6 </span>
              </td>
              <td>
                <span class="bg03"> 4 </span>
              </td>
              <td>
                <span class="bg04"> 2</span>
              </td>
              <td>
                <span class="bg05"> 1 </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Alternate Saturday 10 Second Radio Bharati

                  Advertisement per show (Clarification from

                  Radio Caravan – Can we give 2 minutes of

                  audio advertisement?) </span>
              </td>
              <td>
                <span class="bg01"> 4 Spots </span>
              </td>
              <td>
                <span class="bg02"> 2 Spots </span>
              </td>
              <td>
                <span class="bg03"> 1 Spots </span>
              </td>
              <td>
                <span class="bg04"> 1 Spots </span>
              </td>
              <td>
                <span class="bg05"> 1 Spots </span>
              </td>
              <td>
                <span class="bg06"> 1 Spots </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Logo on IANT Website and Flyers </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y</span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06"> N </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Your organization weblink on IANT Website </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06"> Y </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Advertisement in IANT Newsletters </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06"> Y </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Recognize with a Digital Certificate </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y</span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Your Organization Marketing Digital Flyer </span>
              </td>
              <td>
                <span class="bg01"> Up to 4 </span>
              </td>
              <td>
                <span class="bg02"> Up to 3 </span>
              </td>
              <td>
                <span class="bg03"> Up to 2 </span>
              </td>
              <td>
                <span class="bg04"> Up to 1 </span>
              </td>
              <td>
                <span class="bg05"> 1 </span>
              </td>
              <td>
                <span class="bg06"> 1 </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Recognition in Publications or Post Event

                  Updates to Community </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> Y </span>
              </td>
              <td>
                <span class="bg05"> Y </span>
              </td>
              <td>
                <span class="bg06"> Y </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Recognitions Pre/post/during Event Functions

                  – One Speaker </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> Y </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Stage Time for Company Representative </span>
              </td>
              <td>
                <span class="bg01"> 5 Minutes </span>
              </td>
              <td>
                <span class="bg02"> 3 Minutes </span>
              </td>
              <td>
                <span class="bg03"> 2 Minutes </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
            <tr class="sponsoramnt2">
              <td>
                <span class="bg08"> Press Release Recognition </span>
              </td>
              <td>
                <span class="bg01"> Y </span>
              </td>
              <td>
                <span class="bg02"> Y </span>
              </td>
              <td>
                <span class="bg03"> - </span>
              </td>
              <td>
                <span class="bg04"> - </span>
              </td>
              <td>
                <span class="bg05"> - </span>
              </td>
              <td>
                <span class="bg06"> - </span>
              </td>
              <td>
                <span class="bg07"> - </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="scholarship-head virtualtop"> IANT Events throughout the year: </h5>
        <ul class="textlist">
          <li> 1. India Day </li>
          <li> 2. Anand Bazaar </li>
          <li> 3. Radio Bharati </li>
          <li> 4. Bharati Magazine (Subject to Board Approval) </li>
          <li> 5. Events by IANT Women’s Forum </li>
          <li> 6. Events by IANT Senior Citizen Forum </li>
          <li> 7. Events by IANT Youth Forum </li>
          <li> 8. Virtual Events throughout the year </li>
        </ul>
      </div>
    </div>
  </div>


  </div>
