<div class="create-event-right-side common-page">
  <div class="white-area-create-event">
    <div class="event_member_main">
      <div class="row ">
        <!--slider-->
        <div class="col-lg-4 col-md-4 col-lg-push-8 col-md-push-8">
          <div class="event_rightside">
            <carousel class="event_slider">
              <button class="event_btn btn sliderbtn" type="button"><i aria-hidden="true" class="fa fa-pencil"></i>
                <span>Edit</span></button>
              <slide>
                <img alt="first slide" src="assets/images/event-img.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="second slide" src="assets/images/background.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="third slide" src="assets/images/event-img.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="third slide" src="assets/images/background.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="third slide" src="assets/images/event-img.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="third slide" src="assets/images/background.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="third slide" src="assets/images/event-img.png" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img alt="third slide" src="assets/images/background.png" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>

          <div class="event_map">
            <img src="assets/images/event-map.svg">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-lg-pull-4 col-md-pull-4">
          <div class=" event_sub">
            <div class="row row-eq-height no-eql-height">
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="newyr_title">
                  <h5>Tradeshow, Consumer show or Expo.</h5>
                  <h3>New Year Eve’s Music Party</h3>
                  <p><span>Home & Life Style </span> EVENT BY SPCS Group </p>
                </div>
                <div class="event_lcsntxt">
                  <i aria-hidden="true" class="fa fa-map-marker"></i>
                  <span>8063 Newport Street, Richardson Drive, Manhattan, NY, USA</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="event_editbtn">
                  <button class="event_btn btn" type="button"><i aria-hidden="true"
                                                                 class="fa fa-pencil"></i><span>Edit</span></button>
                  <div class="event_date top_dt">
                    <span>Start: 09 Feb, 2020 09:00 AM </span>
                    <span>Ends: 12 Feb,2020 07:00 PM </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="event-pera ntwrk">
            <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit amet,
              ea cum s. Ne rebum senserit ea. Ne
              rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne rebum
              senserit ea. Ne rebum senserit vel.
              Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
          </div>

          <!--member tickt-->
          <div class="member_tkt_main">
            <div class="row row-eq-height">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Member Ticket</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-12">
                      <div class="sub_title_event">
                        <h4>General Seating Booking</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                      <div class="perice_txt">
                        <p>$30 - $50</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Reg Start Date</span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reg End Date</span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span>Total Sheets</span>
                        <p>2000 </p></li>
                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="row row-eq-height no-eql-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>VVIP Seating Booking</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <p>$50 - $70</p>
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Reg Start Date </span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span>Reg End Date</span>
                      <p>11 Feb, 2020 09:00 AM </p></li>
                    <li><span>Total Sheets</span>
                      <p>2000 </p></li>
                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height">
              <div class="col-lg-12 col-md-12  col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Donation Plans</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <div class="sub_title_event">
                        <h4>Primary Donation</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="perice_txt">
                        <p>$50 - $100</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Reg Start Date</span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reg End Date</span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reward </span>
                        <p>$25 Discount </p></li>
                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <div class="sub_title_event">
                        <h4>Grand Donation</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="perice_txt">
                        <p>$200 - $300</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Reg Start Date</span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reg End Date </span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span> Total Sheets </span>
                        <p>2 Ticket Free </p></li>
                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="row row-eq-height no-eql-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>Elite Donation</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <p>$100 - $200</p>
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Reg Start Date </span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span> Reg End Date</span>
                      <p>11 Feb, 2020 09:00 AM </p></li>
                    <li><span> Total Sheets</span>
                      <p>2000 </p></li>
                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height">
              <div class="col-lg-12 col-md-12 col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Vendor Plans</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-10 ">
                      <div class="sub_title_event">
                        <h4>Platinum Plan</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="perice_txt">
                        <p>$3000</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Reg Start Date</span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reg End Date </span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span>Member Allowance</span>
                        <p>3 Member </p></li>
                      <li><span>Discount </span>
                        <p>10% </p></li>
                      <li><span>Max Discoun </span>
                        <p>$500</p></li>
                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="row row-eq-height no-eql-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>Diamond Plan</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <p>$5000</p>
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Reg Start Date</span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span>Reg End Date </span>
                      <p>11 Feb, 2020 09:00 AM </p></li>
                    <li><span> Member Allowance</span>
                      <p>3 Member </p></li>
                    <li><span> Discount  </span>
                      <p>10% </p></li>
                    <li><span>Max Discoun</span>
                      <p>$500</p></li>
                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height">
              <div class="col-lg-12 col-md-12 col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Sponsorship Plans</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i><span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <div class="sub_title_event">
                        <h4>Platinum Plan</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="perice_txt">
                        <p>$2000</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Reg Start Date </span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reg End Date </span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span>Discount </span>
                        <p>10%</p></li>
                      <li><span>Max Discount </span>
                        <p>500% </p></li>

                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="row row-eq-height no-eql-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>Diamond Plan</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <p>$5000</p>
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Reg Start Date </span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span>Reg End Date </span>
                      <p>11 Feb, 2020 09:00 AM </p></li>
                    <li><span>Discount </span>
                      <p>10%</p></li>
                    <li><span>Max Discount </span>
                      <p>500% </p></li>
                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height">
              <div class="col-lg-12 col-md-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Discount</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <div class="sub_title_event">
                        <h4>Discount on VIP Ticket</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="perice_txt">
                        <p>10 Ticket</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Start Date </span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span> End Date  </span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reward </span>
                        <p>20% Discoun</p></li>
                      <li><span> Max Discount </span>
                        <p>$500 </p></li>

                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="event_btmdotts">
                  <div class="row row-eq-height no-eql-height">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <div class="sub_title_event">
                        <h4>Discount on Payment</h4>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="perice_txt">
                        <p>$5000</p>
                      </div>
                    </div>
                  </div>
                  <div class="reg_dates">
                    <ul class="regs_list">
                      <li><span>Reg Start Date</span>
                        <p>09 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reg End Date</span>
                        <p>11 Feb, 2020 09:00 AM </p></li>
                      <li><span>Reward</span>
                        <p>$100 Discount</p></li>
                    </ul>
                  </div>
                  <div class="event-pera">
                    <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor
                      sit amet, ea cum s. Ne rebum senserit ea. Ne
                      rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                      rebum senserit ea. Ne rebum senserit vel.
                      Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                  </div>
                </div>
                <div class="row row-eq-height no-eql-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>Discount on Payment</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <p>$5000</p>
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Reg Start Date </span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span>Reg End Date </span>
                      <p>11 Feb, 2020 09:00 AM </p></li>
                    <li><span> Reward  </span>
                      <p>$100 Discount</p></li>

                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height no-eql-height">
              <div class="col-lg-12 col-md-12 col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Refund Terms </h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="row row-eq-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>Ticket Cancelation before 4 Days</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <!-- <p>10 Ticket</p> -->
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Before Event Date & Time </span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span> Refund Amount</span>
                      <p>40%</p></li>
                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height no-eql-height">
              <div class="col-lg-12 col-md-12 col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Session of Event</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="row row-eq-height">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="sub_title_event">
                      <h4>Product Presentation</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="perice_txt">
                      <!-- <p>10 Ticket</p> -->
                    </div>
                  </div>
                </div>
                <div class="reg_dates">
                  <ul class="regs_list">
                    <li><span>Before Event Date & Time</span>
                      <p>09 Feb, 2020 09:00 AM </p></li>
                    <li><span> Refund Amount </span>
                      <p>40%</p></li>
                  </ul>
                </div>
                <div class="event-pera">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="member_tkt_main">
            <div class="row row-eq-height no-eql-height">
              <div class="col-lg-12 col-md-12 col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Tags</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i><span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="tags_list_main">
                  <ul class="tag_list">
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Newyear</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">event</a></li>
                    <li><a href="#">song</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="member_tkt_main terms_condition">
            <div class="row row-eq-height no-eql-height">
              <div class="col-lg-12 col-md-12 col-sm-12 block_main">
                <div class="row row-eq-height edit_no-eql">
                  <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="member_title">
                      <h5>Terms & Conditions</h5>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="event_btn btn member_btn" type="button"><i aria-hidden="true"
                                                                              class="fa fa-pencil"></i> <span>Edit</span>
                    </button>
                  </div>
                </div>
                <div class="event-pera terms">
                  <p>Utroque detracto, pri eros velit intellegebat ea. Ne rebum senserit vel Perp.Lorem ipsum dolor sit
                    amet, ea cum s. Ne rebum senserit ea. Ne
                    rebum senserit vel. Perp.Lorem ipsum dolor sit amet, ea cua cum sam dolor sit amet, ea cum s. Ne
                    rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more Lorem ipsum dolor sit amet, ea cua cum sam
                    dolor sit amet, ea cum s. Ne rebum senserit ea. Ne rebum senserit vel.
                    Perp.Lorem ipsum dolor sit amet, ea cua cum sall more.</p>
                </div>
              </div>
            </div>
            <div class="event_btns">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <button class="btn save-changes bleft" type="button">Back</button>
                  <button class="btn confirm-pay save-changes fright btn-pubish" type="button">Publish</button>
                </div>
              </div>
            </div>
          </div>
        </div> <!--end col-8 main-->


      </div>
    </div>
  </div>
