

<div class="mainnewsscreen main-screen" >
  <section class="inner-banner commontopmargin">
    <div class="blue-bg-banner"><span></span></div>
    <div class="slid-left-blue-dots">
      <img alt="" src="assets/images/inner-left-dots.png">
    </div>
    <div class="container">
      <div class="red-inner">
        <div class="row">
          <div  animationName="animated slideInLeft" class="col-md-6 col-sm-6">
            <h2 class="inner-page-tlt">Become a Member</h2>
          </div>
          <div  animationName="animated slideInRight" class="col-md-6 col-sm-6 news-bread">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{'home' | translate}}</a></li>
                <li aria-current="page" class="breadcrumb-item active">Become a Member </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h3 class="membenefits">
            Member Benefits
          </h3>
        </div>
        <div class="col-sm-3">
          <a class="button-benefit" routerLink="/membership-plan"  target="_blank"> Become a Member </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Counselor Services
                </h2>
                <p>
                  Facilitating with Consular General of India, Houston, including visa camps held locally
                 </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Women’s Programs
                </h2>
                <p>
                  Influencing lives to a progressive outlook and growth opportunities
                 </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Local Authorities Outreach
                </h2>
                <p>
                  Helping the Indian community when faced with crisis
                  and hardships
                 </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Youth Programs
                </h2>
                <p>
                  Influencing growing minds to a better tomorrow
winfluencing lives to a progressive outlook
and growth opportunities
                 </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Heritage and Culture promotion
                </h2>
                <p>
                  Hosting mega Annual celebrations of Republic Day and
Independence Day, partnership
with Tramell Crow foundation
                 </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Partnership with Community Organization
                </h2>
                <p>
                  Collaborative and interactive programs with Community
organizations in the Dallas-Forth metroplex
                 </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Health Services
                </h2>
                <p>
                  Conversations with Physicians from the community
                  through webinars and camps
                 </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Other significant activities
                </h2>
                <p>
                  Partnering with not-for-profits, North Texas Food Bank,
Roar4Change
                 </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Philanthropy activities
                </h2>
                <p>
                  Raised $1mn for Gujarat earthquake with CARE , Orissa
and Tsunami natural disaster, etc.
                 </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-main">
            <ul class="contentmem">
              <li>
                <!-- <img src="assets/icon/checked-member.svg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
                  <defs>
                    <filter id="Ellipse_1470" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse">
                      <feOffset dy="3" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="3" result="blur"/>
                      <feFlood flood-opacity="0.161"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Group_17191" data-name="Group 17191" transform="translate(18555 23309.49)">
                    <g transform="matrix(1, 0, 0, 1, -18555, -23309.49)" filter="url(#Ellipse_1470)">
                      <circle id="Ellipse_1470-2" data-name="Ellipse 1470" cx="15" cy="15" r="15" transform="translate(9 6)" fill="#ed8427"/>
                    </g>
                    <path id="Path" d="M5.839,13.387a1.093,1.093,0,1,0,1.44,1.645l4.372-3.826a1.093,1.093,0,0,0,.031-1.617L1.844.3a1.093,1.093,0,0,0-1.5,1.589l8.963,8.465Z" transform="translate(-18523.578 -23294.273) rotate(90)" fill="#fff"/>
                  </g>
                </svg>
              </li>
              <li>
                <h2>
                  Counselor Services
                </h2>
                <p>
                  Facilitating with Consular General of India, Houston,
                  including visa camps held locally
                 </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h3 class="membenefits martp">
        Member Incentives
      </h3>

      <div class="sponsorship-tab">
        <table cellspacing="10" cellpadding="10">
          <tr class="sponsoramnt">
            <td colspan="4">
             <table>
               <tr>
                 <td> </td>
                 <td width="370"> <p> 
                  <i class="line"></i>
                  
                  <u class="texrul">Membership</u> 
                </p></td>
               </tr>
             </table>
            </td>
          </tr>
          <tr>
            <th>
              <span class="bg8">
                Incentives
              </span>
            </th>
            <th width="120">
              <span class="bg1">
                Annual
              </span>
            </th>
            <th width="120">
              <span class="bg2">
                5Yr Term
              </span>
            </th>
            <th width="120">
              <span class="bg3">
                Life Membership
              </span>
            </th>
           
          </tr>
          <tr class="sponsoramnt">
            <td> <span> </span> </td>
            <td>
              <span> $40 </span>
            </td>
            <td>
              <span> $150 </span>
            </td>
            <td>
              <span> $500 </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Bharathi magazine </span> </td>
            <td>
              <span class="bg01"> Digital </span>
            </td>
            <td>
              <span class="bg02">Digital </span>
            </td>
            <td>
              <span class="bg03"> Digital/Print </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Masks </span> </td>
            <td>
              <span class="bg01"> 1 </span>
            </td>
            <td>
              <span class="bg02"> 1</span>
            </td>
            <td>
              <span class="bg03"> 2 </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Free entry for one - Anand Bazaar only </span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> 2 Years</span>
            </td>
            <td>
              <span class="bg03"> 3 Years </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Welcome announcement on Air (Radio Bharati)* </span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> Y</span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Khadi Squares (multi-use) </span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> Y</span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Restaurant coupon Premium** </span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> </span>
            </td>
            <td>
              <span class="bg03"> 20% off </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> IANT Reusable bags</span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> </span>
            </td>
            <td>
              <span class="bg03"> Y </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Dri-fit Polos</span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> </span>
            </td>
            <td>
              <span class="bg03"> 2 </span>
            </td>                 
          </tr>
          <tr class="sponsoramnt">
            <td> <span class="bg08"> Univ of Dallas discounted Tuition </span> </td>
            <td>
              <span class="bg01">  </span>
            </td>
            <td>
              <span class="bg02"> </span>
            </td>
            <td>
              <span class="bg03"> Specific Program </span>
            </td>                 
          </tr>
        </table>
      </div>

      <!-- <div class="tablemembership">
        <table>
          <tr>
            <td colspan="1"></td>
            <td colspan="3"> <strong> Membership</strong> </td>
          </tr>
          <tr class="topincentive">
            <td> <strong>Incentives </strong></td>
            <td> <strong>Annual</strong> </td>
            <td> <strong>5Yr Term</strong></td>
            <td>  <strong>Life Membership</strong>  </td>
          </tr>
          <tr class="topincentive0">
            <td></td>
            <td> <strong>$40</strong> </td>
            <td> <strong>$150</strong></td>
            <td>  <strong>$500</strong>  </td>
          </tr>
          <tr class="topincentive1">
            <td class="lft">Bharathi magazine</td>
            <td>Digital</td>
            <td>Digital</td>
            <td>Digital/Print</td>
          </tr>
          <tr class="topincentive2">
            <td class="lft">Masks</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
          </tr>
          <tr class="topincentive3">
            <td class="lft">Free entry for one - Anand Bazaar only
            </td>
            <td></td>
            <td>2 Years</td>
            <td>3 Years</td>
          </tr>

          <tr class="topincentive4">
            <td class="lft">Welcome announcement on Air (Radio Bharati)*
            </td>
            <td></td>
            <td>Y</td>
            <td>Y</td>
          </tr>
          <tr class="topincentive5">
            <td class="lft">Khadi Squares (multi-use)</td>
            <td></td>
            <td>Y</td>
            <td>Y</td>
          </tr>
          <tr class="topincentive6">
            <td class="lft">Restaurant coupon Premium**
            </td>
            <td></td>
            <td></td>
            <td>20% off</td>
          </tr>
          <tr class="topincentive7">
            <td class="lft">IANT Reusable bags
            </td>
            <td></td>
            <td></td>
            <td>Y</td>
          </tr>
          <tr class="topincentive8">
            <td class="lft">Dri-fit Polos</td>
            <td></td>
            <td></td>
            <td>2</td>
          </tr>
          <tr class="topincentive9">
            <td class="lft">Univ of Dallas discounted Tuition </td>
            <td></td>
            <td></td>
            <td>Specific Program
            </td>
          </tr>
        </table>
      </div> -->
    </div>
  </section>
</div>
