<div class="scrolltab">
  <h3 class="participatehead"><span>Thank you for your interest for joining as Volunteer</span>
    <button class="skip">SKip</button>
  </h3>
  <div class="mainparticipate">
    <div class="col-sm-9 leftpad0">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="What Days are you available and what time works?" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="mainparticipate">
    <div class="col-sm-9 leftpad0">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="What type of activities are you interested to volunteer for "
               value="">
      </mat-form-field>
    </div>
  </div>
  <div class="mainparticipate">
    <div class="col-sm-9 leftpad0">
      <span class="areyou">Are you above 18?</span>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Yes</mat-radio-button>
        <mat-radio-button value="2"> No</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <h3 class="participatehead">Thank you for your interest for joining as Volunteer
    <button class="skip">SKip</button>
  </h3>
  <div class="mainparticipate">
    <div class="col-sm-9 leftpad0">
      <mat-form-field class="example-full-width " floatLabel="never">
        <input matInput placeholder="What Days are you available and what time works?" value="">
      </mat-form-field>
    </div>
  </div>
</div>
