$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$secondary-color2:var(--secondary-color2);
$black-light-color: var(--black-light-color);
$black-dark-color:  var(--black-dark-color);
$greay: var(--greay);
$greay-text: var(--greay-text);
$red-light-bg: var(--red-light-bg);
$red-light-main: var(--gred-light-main);
$greay-card-head:var(--greay-card-head);
$blue-dark: var(--secondary-color);
$gray-dark: var(--gray-dark);
$gray-light:var(--gray-light);
$green-dark:var(--green-dark);
$red-light-bg:var(--gred-light-bg);
$red-light-main: var(--red-light-main);
$blue-light: var(--blue-light);
$blue-dark2: var(--blue-dark2);
$gray-dark2: var(--gray-dark2);
$gray75: var(--gray75);
$gray-e7:var(--gray-e7);
$green-dark:var(--green-dark);
$green-light:var(--green-light);
$red-dark:var(--red-dark);
$red-light: var(--red-light);
$tomatored: var(--tomatored);

.createmembership .memberplan .lifetime {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  /* margin-top: 10px; */
  margin: 18px;
  width: 100%;
}
.createmembership .memberplan .amount-member {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  margin-top: 17px;
  margin-left: 21px;
  width: 95px;
  display: inline-block;
}
.removeBtn button {
  background: transparent;
  margin: 8px 10px 0 0px;
  float: right;
  border: 0px;
  border-radius: 50px;
  padding: 5px;
  position: relative;

  .icon-delete-blue:before{
    color: $secondary-color;
  }
}
.removeBtn button img {
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.addReminder{
  width: 100%  !important;
  font-weight: 800 !important;
}
.reminder{
  mat-radio-button{ display: block; margin-top: 7px;}
}
.expression-reminder{ display: block; margin: 15px 0 0 0;}
.marleft{ margin-left: 20px; margin-top: 20px;}
.createmembership .addanother { width: 100%  !important; }
.editgallery{ margin-top: 0px;
  .dropdown-toggle {  width: 40px; height: 40px; }
  .dropdown-menu{ margin-bottom: 10px;}
  .dropdown-menu::before{ display: none;}
  .dropdown-menu::after{    position: absolute; bottom: 50%; right: -15px; transform: rotate(-89deg); content: ""; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); border-top: 10px solid white; }
}
.moredrop{ display: inline-block!important;  width: 45px;   margin-top: 0px; position: relative;
  .dropdown-toggle { width: 45px; height: 45px; border: 1px solid #ccc; border-radius: 50px; position: relative;
    img{ width: 20px; transform: translate(-50%, -50%); top: 50%; left: 50%; position: absolute; opacity: 0.7;}
  }
  .dropdown-toggle::after{ opacity: 0;}
  .dropdown-menu{ padding: 20px; margin-left: -190px; min-width: 180px; margin-bottom: 0px;  border: 0px; box-shadow: 0 -3px 15px rgba(0,0,0,.175); bottom: -72%;
    &::before{ position: absolute; bottom: 50%; right: -15px;  content: "";  width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid white;}
    a{ display: block; font-weight: 100; color: #666; margin-bottom: 5px;  transition: all 0.5s ease 0s;}
    button{ border: none;  background-color: #FFFFFF; display: block; color: #666; margin-bottom: 5px; font-weight: 100; transition: all 0.5s ease 0s;}
    a:hover{ color: $secondary-color; transition: all 0.5s ease 0s; padding-left: 10px;}
    button:hover{ color: $secondary-color; padding-left:20px; transition: all 0.5s ease 0s;}
    [class*='fa-']:before{ font-size: 17px; margin-right: 5px; }
  }
}
.deleteicon { text-align: right; }
.deleteicon button { margin-left: 5px!important; }
.addplanmain{ float: right;
  .switchbtn{ display: block; margin-top: 10px;}
  .createmembership .memberplan button { margin: 8px 10px 0 0px!important; }
}

@media screen and (max-width: 1500px) {
  .memberplan{ 
    .col-md-4, .col-md-8{ width: 100%; }
    .lifetime { width: auto!important; border-bottom: 0px!important; margin-bottom: 0px!important; }
    .amount-member { margin-top: 10px!important; margin-bottom: 18px; }
    button { margin: 6px 10px 10px 0px !important; }
  }
}
@media screen and (max-width: 1500px) {
  .amount-member { margin-left: 15px!important; }
}
@media screen and (max-width: 991px) {
  .moredrop .dropdown-menu { padding: 8px 20px; bottom: -30%; }
}