<div class="main-screen mainnewsscreen">
  <div class="white-bgbanner"></div>
  <!-- Inner Banner Section Start -->
  <section class="inner-banner commontopmargin">
    <div class="blue-bg-banner"><span></span></div>
    <div class="slid-left-blue-dots">
      <img alt="" src="assets/images/inner-left-dots.png">
    </div>
    <div class="container">
      <div class="red-inner">
        <div class="row">
          <div  animationName="animated slideInLeft" class="col-md-6 col-sm-6">
            <h2 class="inner-page-tlt">Hall Booking</h2>
          </div>
          <div  animationName="animated slideInRight" class="col-md-6 col-sm-6 news-bread">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">Hall Booking</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row main-asset">
        <div class="col-sm-6">
          <h4> Hall Booking </h4>
        </div>
        <div class="col-sm-6 searchmem">
          <mat-form-field class="example-full-width search2">
            <mat-label> Search..</mat-label>
            <input  matInput type="text">
          </mat-form-field>
        </div>
      </div>   
          <div class="box-chapter">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field appearance="fill" class="example-full-width selectch">
                  <mat-label>Select Chapter</mat-label>
                  <mat-select>
                    <mat-option>
                      Select Chapter
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="fill" class="example-full-width selectch">
                  <mat-label>Select Chapter</mat-label>
                  <mat-select>
                    <mat-option>
                      Select Chapter
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field appearance="fill" class="example-full-width selectch">
                  <mat-label>Select Chapter</mat-label>
                  <mat-select>
                    <mat-option>
                      Select Chapter
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-checkbox class="example-margin scholarshipfuture">"Inspired Our Future" Scholarship</mat-checkbox>
              </div>
              <div class="col-sm-6">
                <button class="done"> Done</button>
              </div>
            </div>
          </div>
          <!-- hall booking list -->
          <div class="hall-booking-list-box">
            <ul>
              <li> 
                <h5> Rose Valley Hall</h5>
                <span class="subhead"> <strong> banquet </strong> - 200 guest capecity</span>
                <span class="address-book"> 
                  <i>Address</i>
                  2310 Fort Street, balheven, NC, United State 24151
                </span>
                <span class="address-book"> 
                  <i>Details</i>
                  <span style="display: flex;">
                    <u style="overflow: hidden; width:calc(100% - 55px); text-decoration: none; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical"> Text will come here Text will come here Text will come here  will come here will come here will come here will come here will come here will come here  </u> <a href="#">more</a>
                  </span>
                  <span class="terms-conditions">Terms & Conditions</span>
                </span>
              </li>
              <li> 
                <span class="availablebtn"> available</span>  
                <button class="booknowbtn"> book now</button>
              </li>
            </ul>
          </div>
          <div class="hall-booking-list-box">
            <ul>
              <li> 
                <h5> Rose Valley Hall</h5>
                <span class="subhead"> <strong> banquet </strong> - 200 guest capecity</span>
                <span class="address-book"> 
                  <i>Address</i>
                  2310 Fort Street, balheven, NC, United State 24151
                </span>
                <span class="address-book"> 
                  <i>Details</i>
                  <span style="display: flex;">
                    <u style="overflow: hidden; width:calc(100% - 55px); text-decoration: none; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical"> Text will come here Text will come here Text will come here  will come here will come here will come here will come here will come here will come here  </u> <a href="#">more</a>
                  </span>
                  <span class="terms-conditions">Terms & Conditions</span>
                </span>
              </li>
              <li> 
                <span class="availablebtn"> available</span>  
                <button class="booknowbtn"> book now</button>
              </li>
            </ul>
          </div>
    </div>
  </section>
</div>