<div class="main-screen mainnewsscreen">
  <section class="inner-banner">
    <div class="blue-bg-banner"><span></span></div>
    <div class="slid-left-blue-dots">
        <img src="assets/images/inner-left-dots.png" alt="">
    </div>
    <div class="container">
        <div class="red-inner">
            <div class="row">
                <div class="col-sm-6 col-md-6 animated slideInLeft"  animationName="animated slideInLeft">
                    <h2 class="inner-page-tlt">Gallery</h2>
                </div>
                <div class="col-sm-6 col-md-6 animated slideInRight"  animationName="animated slideInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                      </nav>
                </div>
            </div>
        </div>
      </div>
  </section>

  <!-- fitst Gallery  -->
  <div class="container bottompad">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/national-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>National</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/washington-dc-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>Washington-DC</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/california-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>California</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/florida-images.jpg" alt="">
          </div>
          <div class="content">
            <h5>Florida</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/north-carolina-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>North Carolina</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/taxas-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>Texas</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/illinois-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>Illinois</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/georgia-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>Georgia</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/michigan-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>Michigan</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div class="gallerybox">
          <div class="img-box">
            <img src="assets/images/chapter-new/new-jercy-gallery.jpg" alt="">
          </div>
          <div class="content">
            <h5>New Jersey</h5>
            <span>5 - Events / 0 - Pictures </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fitst Gallery  -->
<!-- Second Gallery  -->
  <div class="container">
    <div id="photography-index-page" style="padding-bottom: 50px;">
      <!-- <h5 class="page-title text-center">Photo Gallery</h5> -->
        <div class="row multi-columns-row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-top-30 padding-bottom-30 margin-top-30">
              <a href="#" title="Title come Here">
                <span class="album block">
                                      <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('https://www.spcsusa.org/images/media/big/2018_09_SPCS_Celebration_001.jpg');">&nbsp;</span>
                  </span>

                                      <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('https://www.spcsusa.org/images/media/big/2018_09_SPCS_Celebration_002.jpg');">&nbsp;</span>
                  </span>

                                      <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('https://www.spcsusa.org/images/media/big/2018_09_SPCS_Celebration_006.jpg');">&nbsp;</span>
                  </span>

                                      <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('../../../assets/images/chapter-new/national-gallery.jpg');">&nbsp;</span>
                  </span>

                                      <span class="link">SPCS National Navratri !!!</span>
                </span>
              </a>
          </div>


           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-top-30 padding-bottom-30 margin-top-30">
              <a href="Title come Here" title="Title come Here">
                <span class="album block">
                  <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('https://www.spcsusa.org/images/media/big/_MG_0568samples.jpg');">&nbsp;</span>
                  </span>

                  <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('https://www.spcsusa.org/images/media/big/4P9A6765samples.jpg');">&nbsp;</span>
                  </span>

                  <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('https://www.spcsusa.org/images/media/big/4P9A6979samples.jpg');">&nbsp;</span>
                  </span>

                  <span class="thumb">
                    <!-- <span class="polaroid shadow-5" style="background-image:url('http://lorempixel.com/250/250/cats/');">&nbsp;</span> -->
                    <span class="polaroid shadow-5" style="background-image:url('../../../assets/images/chapter-new/new-jercy-gallery.jpg');">&nbsp;</span>
                  </span>

                  <span class="link">Washington DC Annual Diwali Gala</span>
                </span>
              </a>
          </div>
        </div>
    </div>
  </div>
  <!-- Second Gallery  -->
<!-- Third Gallery  -->
  <div class="container-fluid">
    <div class="gallerynew" style="padding-bottom: 30px; text-align: center;">
      <div class="subbox" *ngFor="let item of items; index as i">
        <img  [lightbox]="i" [gallery]="'lightBox'" [src]="item.data.src">
      </div>
    </div>
  </div>
<!-- Third Gallery  -->
  </div>


