.main-screen .news-announcement-details .detail-text { margin-top:0px; }
.newstitle { display: flex; align-items: center;}


@media screen and (max-width:767px){
    .over-x-h{overflow-x: hidden !important;}
}